{"openapi":"3.0.1","info":{"title":"Advanced Financials Package","description":"Crunchbase Enterprise API - Advanced Financials","termsOfService":"https://data.crunchbase.com/docs/terms","contact":{"email":"partnerships@crunchbase.com"},"version":"1.1.0"},"externalDocs":{"description":"API Reference doc","url":"https://data.crunchbase.com/docs"},"servers":[{"url":"https://api.crunchbase.com/v4"}],"security":[{"ApiKeyAuthHeader":[]}],"tags":[{"name":"Autocomplete"},{"name":"Deleted Entities"},{"name":"Entity"},{"name":"Search"},{"name":"Metadata"}],"paths":{"/data/entities/organizations/{entity_id}":{"get":{"tags":["Entity"],"summary":"Lookup an Organization","operationId":"getOrganization","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"field_ids","in":"query","description":"Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string","style":"form","explode":false,"schema":{"title":"field_ids","type":"array","items":{"$ref":"#/components/schemas/OrganizationFieldId"}}},{"name":"card_ids","in":"query","description":"Cards to include on the resulting entity","style":"form","explode":false,"schema":{"title":"card_ids","type":"array","items":{"type":"string","enum":["acquiree_acquisitions","acquirer_acquisitions","child_organizations","child_ownerships","event_appearances","fields","founders","headquarters_address","investors","ipos","jobs","parent_organization","parent_ownership","participated_funding_rounds","participated_funds","participated_investments","press_references","raised_funding_rounds","raised_funds","raised_investments"]}}}],"responses":{"200":{"$ref":"#/components/responses/EntityLookupOrganizationResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/organizations/{entity_id}/cards/{card_id}":{"get":{"tags":["Entity"],"summary":"Lookup Organization's single card","description":"The following cards are available: [acquiree_acquisitions, acquirer_acquisitions, child_organizations, child_ownerships, event_appearances, founders, headquarters_address, investors, ipos, jobs, parent_organization, parent_ownership, participated_funding_rounds, participated_funds, participated_investments, press_references, raised_funding_rounds, raised_funds, raised_investments]","operationId":"getOrganizationCard","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"card_id","in":"path","description":"An organization card to lookup","required":true,"style":"simple","explode":false,"schema":{"title":"card_id","type":"string","enum":["acquiree_acquisitions","acquirer_acquisitions","child_organizations","child_ownerships","event_appearances","founders","headquarters_address","investors","ipos","jobs","parent_organization","parent_ownership","participated_funding_rounds","participated_funds","participated_investments","press_references","raised_funding_rounds","raised_funds","raised_investments"]}},{"$ref":"#/components/parameters/card_field_ids"},{"$ref":"#/components/parameters/after_id"},{"$ref":"#/components/parameters/before_id"},{"$ref":"#/components/parameters/order"},{"$ref":"#/components/parameters/limit"}],"responses":{"200":{"$ref":"#/components/responses/OrganizationCardLookupResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/people/{entity_id}":{"get":{"tags":["Entity"],"summary":"Lookup a Person","operationId":"getPerson","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"field_ids","in":"query","description":"Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string","style":"form","explode":false,"schema":{"title":"field_ids","type":"array","items":{"$ref":"#/components/schemas/PersonFieldId"}}},{"name":"card_ids","in":"query","description":"Cards to include on the resulting entity","style":"form","explode":false,"schema":{"title":"card_ids","type":"array","items":{"type":"string","enum":["degrees","event_appearances","fields","founded_organizations","jobs","participated_funding_rounds","participated_funds","participated_investments","partner_funding_rounds","partner_investments","press_references","primary_job","primary_organization"]}}}],"responses":{"200":{"$ref":"#/components/responses/EntityLookupPersonResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/people/{entity_id}/cards/{card_id}":{"get":{"tags":["Entity"],"summary":"Lookup Person's single card","description":"The following cards are available: [degrees, event_appearances, founded_organizations, jobs, participated_funding_rounds, participated_funds, participated_investments, partner_funding_rounds, partner_investments, press_references, primary_job, primary_organization]","operationId":"getPersonCard","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"card_id","in":"path","description":"A person card to lookup","required":true,"style":"simple","explode":false,"schema":{"title":"card_id","type":"string","enum":["degrees","event_appearances","founded_organizations","jobs","participated_funding_rounds","participated_funds","participated_investments","partner_funding_rounds","partner_investments","press_references","primary_job","primary_organization"]}},{"$ref":"#/components/parameters/card_field_ids"},{"$ref":"#/components/parameters/after_id"},{"$ref":"#/components/parameters/before_id"},{"$ref":"#/components/parameters/order"},{"$ref":"#/components/parameters/limit"}],"responses":{"200":{"$ref":"#/components/responses/PersonCardLookupResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/funding_rounds/{entity_id}":{"get":{"tags":["Entity"],"summary":"Lookup a FundingRound","operationId":"getFundingRound","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"field_ids","in":"query","description":"Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string","style":"form","explode":false,"schema":{"title":"field_ids","type":"array","items":{"$ref":"#/components/schemas/FundingRoundFieldId"}}},{"name":"card_ids","in":"query","description":"Cards to include on the resulting entity","style":"form","explode":false,"schema":{"title":"card_ids","type":"array","items":{"type":"string","enum":["fields","investments","investors","lead_investors","organization","partners","press_references"]}}}],"responses":{"200":{"$ref":"#/components/responses/EntityLookupFundingRoundResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/funding_rounds/{entity_id}/cards/{card_id}":{"get":{"tags":["Entity"],"summary":"Lookup FundingRound's single card","description":"The following cards are available: [investments, investors, lead_investors, organization, partners, press_references]","operationId":"getFundingRoundCard","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"card_id","in":"path","description":"A funding_round card to lookup","required":true,"style":"simple","explode":false,"schema":{"title":"card_id","type":"string","enum":["investments","investors","lead_investors","organization","partners","press_references"]}},{"$ref":"#/components/parameters/card_field_ids"},{"$ref":"#/components/parameters/after_id"},{"$ref":"#/components/parameters/before_id"},{"$ref":"#/components/parameters/order"},{"$ref":"#/components/parameters/limit"}],"responses":{"200":{"$ref":"#/components/responses/FundingRoundCardLookupResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/acquisitions/{entity_id}":{"get":{"tags":["Entity"],"summary":"Lookup an Acquisition","operationId":"getAcquisition","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"field_ids","in":"query","description":"Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string","style":"form","explode":false,"schema":{"title":"field_ids","type":"array","items":{"$ref":"#/components/schemas/AcquisitionFieldId"}}},{"name":"card_ids","in":"query","description":"Cards to include on the resulting entity","style":"form","explode":false,"schema":{"title":"card_ids","type":"array","items":{"type":"string","enum":["acquiree_organization","acquirer_organization","fields","press_references"]}}}],"responses":{"200":{"$ref":"#/components/responses/EntityLookupAcquisitionResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/acquisitions/{entity_id}/cards/{card_id}":{"get":{"tags":["Entity"],"summary":"Lookup Acquisition's single card","description":"The following cards are available: [acquiree_organization, acquirer_organization, press_references]","operationId":"getAcquisitionCard","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"card_id","in":"path","description":"An acquisition card to lookup","required":true,"style":"simple","explode":false,"schema":{"title":"card_id","type":"string","enum":["acquiree_organization","acquirer_organization","press_references"]}},{"$ref":"#/components/parameters/card_field_ids"},{"$ref":"#/components/parameters/after_id"},{"$ref":"#/components/parameters/before_id"},{"$ref":"#/components/parameters/order"},{"$ref":"#/components/parameters/limit"}],"responses":{"200":{"$ref":"#/components/responses/AcquisitionCardLookupResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/investments/{entity_id}":{"get":{"tags":["Entity"],"summary":"Lookup an Investment","operationId":"getInvestment","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"field_ids","in":"query","description":"Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string","style":"form","explode":false,"schema":{"title":"field_ids","type":"array","items":{"$ref":"#/components/schemas/InvestmentFieldId"}}},{"name":"card_ids","in":"query","description":"Cards to include on the resulting entity","style":"form","explode":false,"schema":{"title":"card_ids","type":"array","items":{"type":"string","enum":["fields","funding_round","investor","organization","partner"]}}}],"responses":{"200":{"$ref":"#/components/responses/EntityLookupInvestmentResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/investments/{entity_id}/cards/{card_id}":{"get":{"tags":["Entity"],"summary":"Lookup Investment's single card","description":"The following cards are available: [funding_round, investor, organization, partner]","operationId":"getInvestmentCard","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"card_id","in":"path","description":"An investment card to lookup","required":true,"style":"simple","explode":false,"schema":{"title":"card_id","type":"string","enum":["funding_round","investor","organization","partner"]}},{"$ref":"#/components/parameters/card_field_ids"},{"$ref":"#/components/parameters/after_id"},{"$ref":"#/components/parameters/before_id"},{"$ref":"#/components/parameters/order"},{"$ref":"#/components/parameters/limit"}],"responses":{"200":{"$ref":"#/components/responses/InvestmentCardLookupResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/events/{entity_id}":{"get":{"tags":["Entity"],"summary":"Lookup an Event","operationId":"getEvent","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"field_ids","in":"query","description":"Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string","style":"form","explode":false,"schema":{"title":"field_ids","type":"array","items":{"$ref":"#/components/schemas/EventFieldId"}}},{"name":"card_ids","in":"query","description":"Cards to include on the resulting entity","style":"form","explode":false,"schema":{"title":"card_ids","type":"array","items":{"type":"string","enum":["address","appearances","contestants","exhibitors","fields","organizers","press_references","speakers","sponsors"]}}}],"responses":{"200":{"$ref":"#/components/responses/EntityLookupEventResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/events/{entity_id}/cards/{card_id}":{"get":{"tags":["Entity"],"summary":"Lookup Event's single card","description":"The following cards are available: [address, appearances, contestants, exhibitors, organizers, press_references, speakers, sponsors]","operationId":"getEventCard","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"card_id","in":"path","description":"An event card to lookup","required":true,"style":"simple","explode":false,"schema":{"title":"card_id","type":"string","enum":["address","appearances","contestants","exhibitors","organizers","press_references","speakers","sponsors"]}},{"$ref":"#/components/parameters/card_field_ids"},{"$ref":"#/components/parameters/after_id"},{"$ref":"#/components/parameters/before_id"},{"$ref":"#/components/parameters/order"},{"$ref":"#/components/parameters/limit"}],"responses":{"200":{"$ref":"#/components/responses/EventCardLookupResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/press_references/{entity_id}":{"get":{"tags":["Entity"],"summary":"Lookup a PressReference","operationId":"getPressReference","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"field_ids","in":"query","description":"Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string","style":"form","explode":false,"schema":{"title":"field_ids","type":"array","items":{"$ref":"#/components/schemas/PressReferenceFieldId"}}},{"name":"card_ids","in":"query","description":"Cards to include on the resulting entity","style":"form","explode":false,"schema":{"title":"card_ids","type":"array","items":{"type":"string","enum":["fields"]}}}],"responses":{"200":{"$ref":"#/components/responses/EntityLookupPressReferenceResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/funds/{entity_id}":{"get":{"tags":["Entity"],"summary":"Lookup a Fund","operationId":"getFund","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"field_ids","in":"query","description":"Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string","style":"form","explode":false,"schema":{"title":"field_ids","type":"array","items":{"$ref":"#/components/schemas/FundFieldId"}}},{"name":"card_ids","in":"query","description":"Cards to include on the resulting entity","style":"form","explode":false,"schema":{"title":"card_ids","type":"array","items":{"type":"string","enum":["fields","investors","owner","press_references"]}}}],"responses":{"200":{"$ref":"#/components/responses/EntityLookupFundResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/funds/{entity_id}/cards/{card_id}":{"get":{"tags":["Entity"],"summary":"Lookup Fund's single card","description":"The following cards are available: [investors, owner, press_references]","operationId":"getFundCard","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"card_id","in":"path","description":"A fund card to lookup","required":true,"style":"simple","explode":false,"schema":{"title":"card_id","type":"string","enum":["investors","owner","press_references"]}},{"$ref":"#/components/parameters/card_field_ids"},{"$ref":"#/components/parameters/after_id"},{"$ref":"#/components/parameters/before_id"},{"$ref":"#/components/parameters/order"},{"$ref":"#/components/parameters/limit"}],"responses":{"200":{"$ref":"#/components/responses/FundCardLookupResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/event_appearances/{entity_id}":{"get":{"tags":["Entity"],"summary":"Lookup an EventAppearance","operationId":"getEventAppearance","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"field_ids","in":"query","description":"Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string","style":"form","explode":false,"schema":{"title":"field_ids","type":"array","items":{"$ref":"#/components/schemas/EventAppearanceFieldId"}}},{"name":"card_ids","in":"query","description":"Cards to include on the resulting entity","style":"form","explode":false,"schema":{"title":"card_ids","type":"array","items":{"type":"string","enum":["event","fields","participant"]}}}],"responses":{"200":{"$ref":"#/components/responses/EntityLookupEventAppearanceResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/event_appearances/{entity_id}/cards/{card_id}":{"get":{"tags":["Entity"],"summary":"Lookup EventAppearance's single card","description":"The following cards are available: [event, participant]","operationId":"getEventAppearanceCard","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"card_id","in":"path","description":"An event_appearance card to lookup","required":true,"style":"simple","explode":false,"schema":{"title":"card_id","type":"string","enum":["event","participant"]}},{"$ref":"#/components/parameters/card_field_ids"},{"$ref":"#/components/parameters/after_id"},{"$ref":"#/components/parameters/before_id"},{"$ref":"#/components/parameters/order"},{"$ref":"#/components/parameters/limit"}],"responses":{"200":{"$ref":"#/components/responses/EventAppearanceCardLookupResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/ipos/{entity_id}":{"get":{"tags":["Entity"],"summary":"Lookup an Ipo","operationId":"getIpo","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"field_ids","in":"query","description":"Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string","style":"form","explode":false,"schema":{"title":"field_ids","type":"array","items":{"$ref":"#/components/schemas/IpoFieldId"}}},{"name":"card_ids","in":"query","description":"Cards to include on the resulting entity","style":"form","explode":false,"schema":{"title":"card_ids","type":"array","items":{"type":"string","enum":["fields","organization","press_references"]}}}],"responses":{"200":{"$ref":"#/components/responses/EntityLookupIpoResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/ipos/{entity_id}/cards/{card_id}":{"get":{"tags":["Entity"],"summary":"Lookup Ipo's single card","description":"The following cards are available: [organization, press_references]","operationId":"getIpoCard","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"card_id","in":"path","description":"An ipo card to lookup","required":true,"style":"simple","explode":false,"schema":{"title":"card_id","type":"string","enum":["organization","press_references"]}},{"$ref":"#/components/parameters/card_field_ids"},{"$ref":"#/components/parameters/after_id"},{"$ref":"#/components/parameters/before_id"},{"$ref":"#/components/parameters/order"},{"$ref":"#/components/parameters/limit"}],"responses":{"200":{"$ref":"#/components/responses/IpoCardLookupResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/ownerships/{entity_id}":{"get":{"tags":["Entity"],"summary":"Lookup an Ownership","operationId":"getOwnership","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"field_ids","in":"query","description":"Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string","style":"form","explode":false,"schema":{"title":"field_ids","type":"array","items":{"$ref":"#/components/schemas/OwnershipFieldId"}}},{"name":"card_ids","in":"query","description":"Cards to include on the resulting entity","style":"form","explode":false,"schema":{"title":"card_ids","type":"array","items":{"type":"string","enum":["child_organization","fields","parent_organization","press_references"]}}}],"responses":{"200":{"$ref":"#/components/responses/EntityLookupOwnershipResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/ownerships/{entity_id}/cards/{card_id}":{"get":{"tags":["Entity"],"summary":"Lookup Ownership's single card","description":"The following cards are available: [child_organization, parent_organization, press_references]","operationId":"getOwnershipCard","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"card_id","in":"path","description":"An ownership card to lookup","required":true,"style":"simple","explode":false,"schema":{"title":"card_id","type":"string","enum":["child_organization","parent_organization","press_references"]}},{"$ref":"#/components/parameters/card_field_ids"},{"$ref":"#/components/parameters/after_id"},{"$ref":"#/components/parameters/before_id"},{"$ref":"#/components/parameters/order"},{"$ref":"#/components/parameters/limit"}],"responses":{"200":{"$ref":"#/components/responses/OwnershipCardLookupResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/categories/{entity_id}":{"get":{"tags":["Entity"],"summary":"Lookup a Category","operationId":"getCategory","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"field_ids","in":"query","description":"Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string","style":"form","explode":false,"schema":{"title":"field_ids","type":"array","items":{"$ref":"#/components/schemas/CategoryFieldId"}}},{"name":"card_ids","in":"query","description":"Cards to include on the resulting entity","style":"form","explode":false,"schema":{"title":"card_ids","type":"array","items":{"type":"string","enum":["fields"]}}}],"responses":{"200":{"$ref":"#/components/responses/EntityLookupCategoryResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/category_groups/{entity_id}":{"get":{"tags":["Entity"],"summary":"Lookup a CategoryGroup","operationId":"getCategoryGroup","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"field_ids","in":"query","description":"Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string","style":"form","explode":false,"schema":{"title":"field_ids","type":"array","items":{"$ref":"#/components/schemas/CategoryGroupFieldId"}}},{"name":"card_ids","in":"query","description":"Cards to include on the resulting entity","style":"form","explode":false,"schema":{"title":"card_ids","type":"array","items":{"type":"string","enum":["fields"]}}}],"responses":{"200":{"$ref":"#/components/responses/EntityLookupCategoryGroupResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/locations/{entity_id}":{"get":{"tags":["Entity"],"summary":"Lookup a Location","operationId":"getLocation","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"field_ids","in":"query","description":"Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string","style":"form","explode":false,"schema":{"title":"field_ids","type":"array","items":{"$ref":"#/components/schemas/LocationFieldId"}}},{"name":"card_ids","in":"query","description":"Cards to include on the resulting entity","style":"form","explode":false,"schema":{"title":"card_ids","type":"array","items":{"type":"string","enum":["fields"]}}}],"responses":{"200":{"$ref":"#/components/responses/EntityLookupLocationResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/jobs/{entity_id}":{"get":{"tags":["Entity"],"summary":"Lookup a Job","operationId":"getJob","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"field_ids","in":"query","description":"Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string","style":"form","explode":false,"schema":{"title":"field_ids","type":"array","items":{"$ref":"#/components/schemas/JobFieldId"}}},{"name":"card_ids","in":"query","description":"Cards to include on the resulting entity","style":"form","explode":false,"schema":{"title":"card_ids","type":"array","items":{"type":"string","enum":["fields","organization","person"]}}}],"responses":{"200":{"$ref":"#/components/responses/EntityLookupJobResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/jobs/{entity_id}/cards/{card_id}":{"get":{"tags":["Entity"],"summary":"Lookup Job's single card","description":"The following cards are available: [organization, person]","operationId":"getJobCard","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"card_id","in":"path","description":"A job card to lookup","required":true,"style":"simple","explode":false,"schema":{"title":"card_id","type":"string","enum":["organization","person"]}},{"$ref":"#/components/parameters/card_field_ids"},{"$ref":"#/components/parameters/after_id"},{"$ref":"#/components/parameters/before_id"},{"$ref":"#/components/parameters/order"},{"$ref":"#/components/parameters/limit"}],"responses":{"200":{"$ref":"#/components/responses/JobCardLookupResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/addresses/{entity_id}":{"get":{"tags":["Entity"],"summary":"Lookup an Address","operationId":"getAddress","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"field_ids","in":"query","description":"Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string","style":"form","explode":false,"schema":{"title":"field_ids","type":"array","items":{"$ref":"#/components/schemas/AddressFieldId"}}},{"name":"card_ids","in":"query","description":"Cards to include on the resulting entity","style":"form","explode":false,"schema":{"title":"card_ids","type":"array","items":{"type":"string","enum":["event","fields","organization"]}}}],"responses":{"200":{"$ref":"#/components/responses/EntityLookupAddressResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/addresses/{entity_id}/cards/{card_id}":{"get":{"tags":["Entity"],"summary":"Lookup Address's single card","description":"The following cards are available: [event, organization]","operationId":"getAddressCard","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"card_id","in":"path","description":"An address card to lookup","required":true,"style":"simple","explode":false,"schema":{"title":"card_id","type":"string","enum":["event","organization"]}},{"$ref":"#/components/parameters/card_field_ids"},{"$ref":"#/components/parameters/after_id"},{"$ref":"#/components/parameters/before_id"},{"$ref":"#/components/parameters/order"},{"$ref":"#/components/parameters/limit"}],"responses":{"200":{"$ref":"#/components/responses/AddressCardLookupResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/degrees/{entity_id}":{"get":{"tags":["Entity"],"summary":"Lookup a Degree","operationId":"getDegree","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"field_ids","in":"query","description":"Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string","style":"form","explode":false,"schema":{"title":"field_ids","type":"array","items":{"$ref":"#/components/schemas/DegreeFieldId"}}},{"name":"card_ids","in":"query","description":"Cards to include on the resulting entity","style":"form","explode":false,"schema":{"title":"card_ids","type":"array","items":{"type":"string","enum":["fields","organization","person"]}}}],"responses":{"200":{"$ref":"#/components/responses/EntityLookupDegreeResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/degrees/{entity_id}/cards/{card_id}":{"get":{"tags":["Entity"],"summary":"Lookup Degree's single card","description":"The following cards are available: [organization, person]","operationId":"getDegreeCard","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"card_id","in":"path","description":"A degree card to lookup","required":true,"style":"simple","explode":false,"schema":{"title":"card_id","type":"string","enum":["organization","person"]}},{"$ref":"#/components/parameters/card_field_ids"},{"$ref":"#/components/parameters/after_id"},{"$ref":"#/components/parameters/before_id"},{"$ref":"#/components/parameters/order"},{"$ref":"#/components/parameters/limit"}],"responses":{"200":{"$ref":"#/components/responses/DegreeCardLookupResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/diversity_spotlights/{entity_id}":{"get":{"tags":["Entity"],"summary":"Lookup a DiversitySpotlight","operationId":"getDiversitySpotlight","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"field_ids","in":"query","description":"Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string","style":"form","explode":false,"schema":{"title":"field_ids","type":"array","items":{"$ref":"#/components/schemas/DiversitySpotlightFieldId"}}},{"name":"card_ids","in":"query","description":"Cards to include on the resulting entity","style":"form","explode":false,"schema":{"title":"card_ids","type":"array","items":{"type":"string","enum":["fields"]}}}],"responses":{"200":{"$ref":"#/components/responses/EntityLookupDiversitySpotlightResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/entities/principals/{entity_id}":{"get":{"tags":["Entity"],"summary":"Lookup a Principal","operationId":"getPrincipal","parameters":[{"$ref":"#/components/parameters/entity_id"},{"name":"field_ids","in":"query","description":"Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string","style":"form","explode":false,"schema":{"title":"field_ids","type":"array","items":{"$ref":"#/components/schemas/PrincipalFieldId"}}}],"responses":{"200":{"$ref":"#/components/responses/EntityLookupPrincipalResponse"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/searches/organizations":{"post":{"tags":["Search"],"summary":"Search Organization Entities","description":"Can perform more complex filtering based on the query defined in the request body","operationId":"searchOrganizations","requestBody":{"description":"Search Query Parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OrganizationEntitySearch"}}},"required":true},"responses":{"200":{"$ref":"#/components/responses/OrganizationSearchResults"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/searches/people":{"post":{"tags":["Search"],"summary":"Search Person Entities","description":"Can perform more complex filtering based on the query defined in the request body","operationId":"searchPeople","requestBody":{"description":"Search Query Parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PersonEntitySearch"}}},"required":true},"responses":{"200":{"$ref":"#/components/responses/PersonSearchResults"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/searches/funding_rounds":{"post":{"tags":["Search"],"summary":"Search FundingRound Entities","description":"Can perform more complex filtering based on the query defined in the request body","operationId":"searchFundingRounds","requestBody":{"description":"Search Query Parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FundingRoundEntitySearch"}}},"required":true},"responses":{"200":{"$ref":"#/components/responses/FundingRoundSearchResults"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/searches/acquisitions":{"post":{"tags":["Search"],"summary":"Search Acquisition Entities","description":"Can perform more complex filtering based on the query defined in the request body","operationId":"searchAcquisitions","requestBody":{"description":"Search Query Parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcquisitionEntitySearch"}}},"required":true},"responses":{"200":{"$ref":"#/components/responses/AcquisitionSearchResults"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/searches/investments":{"post":{"tags":["Search"],"summary":"Search Investment Entities","description":"Can perform more complex filtering based on the query defined in the request body","operationId":"searchInvestments","requestBody":{"description":"Search Query Parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvestmentEntitySearch"}}},"required":true},"responses":{"200":{"$ref":"#/components/responses/InvestmentSearchResults"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/searches/events":{"post":{"tags":["Search"],"summary":"Search Event Entities","description":"Can perform more complex filtering based on the query defined in the request body","operationId":"searchEvents","requestBody":{"description":"Search Query Parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventEntitySearch"}}},"required":true},"responses":{"200":{"$ref":"#/components/responses/EventSearchResults"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/searches/press_references":{"post":{"tags":["Search"],"summary":"Search PressReference Entities","description":"Can perform more complex filtering based on the query defined in the request body","operationId":"searchPressReferences","requestBody":{"description":"Search Query Parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PressReferenceEntitySearch"}}},"required":true},"responses":{"200":{"$ref":"#/components/responses/PressReferenceSearchResults"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/searches/funds":{"post":{"tags":["Search"],"summary":"Search Fund Entities","description":"Can perform more complex filtering based on the query defined in the request body","operationId":"searchFunds","requestBody":{"description":"Search Query Parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FundEntitySearch"}}},"required":true},"responses":{"200":{"$ref":"#/components/responses/FundSearchResults"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/searches/event_appearances":{"post":{"tags":["Search"],"summary":"Search EventAppearance Entities","description":"Can perform more complex filtering based on the query defined in the request body","operationId":"searchEventAppearances","requestBody":{"description":"Search Query Parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventAppearanceEntitySearch"}}},"required":true},"responses":{"200":{"$ref":"#/components/responses/EventAppearanceSearchResults"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/searches/ipos":{"post":{"tags":["Search"],"summary":"Search Ipo Entities","description":"Can perform more complex filtering based on the query defined in the request body","operationId":"searchIpos","requestBody":{"description":"Search Query Parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IpoEntitySearch"}}},"required":true},"responses":{"200":{"$ref":"#/components/responses/IpoSearchResults"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/searches/ownerships":{"post":{"tags":["Search"],"summary":"Search Ownership Entities","description":"Can perform more complex filtering based on the query defined in the request body","operationId":"searchOwnerships","requestBody":{"description":"Search Query Parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OwnershipEntitySearch"}}},"required":true},"responses":{"200":{"$ref":"#/components/responses/OwnershipSearchResults"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/searches/categories":{"post":{"tags":["Search"],"summary":"Search Category Entities","description":"Can perform more complex filtering based on the query defined in the request body","operationId":"searchCategories","requestBody":{"description":"Search Query Parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryEntitySearch"}}},"required":true},"responses":{"200":{"$ref":"#/components/responses/CategorySearchResults"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/searches/category_groups":{"post":{"tags":["Search"],"summary":"Search CategoryGroup Entities","description":"Can perform more complex filtering based on the query defined in the request body","operationId":"searchCategoryGroups","requestBody":{"description":"Search Query Parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryGroupEntitySearch"}}},"required":true},"responses":{"200":{"$ref":"#/components/responses/CategoryGroupSearchResults"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/searches/locations":{"post":{"tags":["Search"],"summary":"Search Location Entities","description":"Can perform more complex filtering based on the query defined in the request body","operationId":"searchLocations","requestBody":{"description":"Search Query Parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LocationEntitySearch"}}},"required":true},"responses":{"200":{"$ref":"#/components/responses/LocationSearchResults"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/searches/jobs":{"post":{"tags":["Search"],"summary":"Search Job Entities","description":"Can perform more complex filtering based on the query defined in the request body","operationId":"searchJobs","requestBody":{"description":"Search Query Parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobEntitySearch"}}},"required":true},"responses":{"200":{"$ref":"#/components/responses/JobSearchResults"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/searches/addresses":{"post":{"tags":["Search"],"summary":"Search Address Entities","description":"Can perform more complex filtering based on the query defined in the request body","operationId":"searchAddresses","requestBody":{"description":"Search Query Parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressEntitySearch"}}},"required":true},"responses":{"200":{"$ref":"#/components/responses/AddressSearchResults"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/searches/degrees":{"post":{"tags":["Search"],"summary":"Search Degree Entities","description":"Can perform more complex filtering based on the query defined in the request body","operationId":"searchDegrees","requestBody":{"description":"Search Query Parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DegreeEntitySearch"}}},"required":true},"responses":{"200":{"$ref":"#/components/responses/DegreeSearchResults"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/searches/diversity_spotlights":{"post":{"tags":["Search"],"summary":"Search DiversitySpotlight Entities","description":"Can perform more complex filtering based on the query defined in the request body","operationId":"searchDiversitySpotlights","requestBody":{"description":"Search Query Parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DiversitySpotlightEntitySearch"}}},"required":true},"responses":{"200":{"$ref":"#/components/responses/DiversitySpotlightSearchResults"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/searches/principals":{"post":{"tags":["Search"],"summary":"Search Principal Entities","description":"Can perform more complex filtering based on the query defined in the request body","operationId":"searchPrincipals","requestBody":{"description":"Search Query Parameters","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PrincipalEntitySearch"}}},"required":true},"responses":{"200":{"$ref":"#/components/responses/PrincipalSearchResults"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"404":{"$ref":"#/components/responses/GenericNotFoundError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/autocompletes":{"get":{"tags":["Autocomplete"],"summary":"Suggests matching Identifier entities based on the query and entity_def_ids provided.","operationId":"autocompletes","parameters":[{"name":"query","in":"query","description":"Value to perform the autocomplete search with.","required":true,"schema":{"title":"query","type":"string"}},{"name":"collection_ids","in":"query","description":"A comma separated list of collection ids to search against. Leaving this blank means it will search across all identifiers. \n\n Entity defs can be constrained to specific facets by providing them as facet collections. Relationship collections will resolve to their underlying entity def.","style":"form","explode":false,"schema":{"title":"collection_ids","type":"array","items":{"type":"string","enum":["acquisitions","addresses","categories","category_groups","degrees","diversity_spotlights","event_appearances","events","funding_rounds","funds","investments","ipos","jobs","locations","organizations","ownerships","people","press_references","principals"]}}},{"name":"limit","in":"query","description":"Number of results to retrieve; default = 10, max = 25","schema":{"title":"limit","type":"integer"}}],"responses":{"200":{"$ref":"#/components/responses/AutocompleteResult"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/deleted_entities":{"get":{"tags":["Deleted Entities"],"summary":"Retrieve deleted entities.","operationId":"getDeletedEntities","parameters":[{"name":"collection_ids","in":"query","description":"Filter by collection id(s). Comma separated list of collection ids.  E.g. acquisitions, categories, event_appearances, events, funding_rounds, funds, investments, ipos, jobs, locations, organizations, ownerships, people, press_references","style":"form","explode":false,"schema":{"title":"collection_ids","type":"array","items":{"type":"string","enum":["acquisitions","categories","event_appearances","events","funding_rounds","funds","investments","ipos","jobs","locations","organizations","ownerships","people","press_references"]}}},{"name":"limit","in":"query","description":"Number of results to retrieve; default = 10, max = 25","schema":{"title":"limit","type":"integer"}},{"name":"before_id","in":"query","description":"Used to paginate search results to the previous page. before_id should be the uuid of the first item in the current page. May not be provided simultaneously with after_id","schema":{"title":"before_id","type":"string","format":"uuid"}},{"name":"after_id","in":"query","description":"Used to paginate search results to the next page. after_id should be the uuid of the last item in the current page. May not be provided simultaneously with before_id.","schema":{"title":"after_id","type":"string","format":"uuid"}},{"name":"deleted_at_order","in":"query","description":"Direction of sorting by deleted_at property","schema":{"title":"deleted_at_order","type":"string","enum":["asc","desc"],"default":"asc"}}],"responses":{"200":{"$ref":"#/components/responses/DeletedEntitiesResult"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/data/deleted_entities/{collection_id}":{"get":{"tags":["Deleted Entities"],"summary":"Retrieve deleted entities of a specific collection.","operationId":"getDeletedEntitiesForCollection","parameters":[{"name":"collection_id","in":"path","description":"Filter by collection Id","required":true,"style":"simple","explode":false,"schema":{"title":"collection_id","type":"string","enum":["acquisitions","categories","event_appearances","events","funding_rounds","funds","investments","ipos","jobs","locations","organizations","ownerships","people","press_references"]}},{"name":"limit","in":"query","description":"Number of results to retrieve; default = 10, max = 25","schema":{"title":"limit","type":"integer"}},{"name":"before_id","in":"query","description":"Used to paginate search results to the previous page. before_id should be the uuid of the first item in the current page. May not be provided simultaneously with after_id","schema":{"title":"before_id","type":"string","format":"uuid"}},{"name":"after_id","in":"query","description":"Used to paginate search results to the next page. after_id should be the uuid of the last item in the current page. May not be provided simultaneously with before_id.","schema":{"title":"after_id","type":"string","format":"uuid"}},{"name":"deleted_at_order","in":"query","description":"Direction of sorting by deleted_at property","schema":{"title":"deleted_at_order","type":"string","enum":["asc","desc"],"default":"asc"}}],"responses":{"200":{"$ref":"#/components/responses/DeletedEntitiesResult"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/md/applications/crunchbase/openapi.yaml":{"get":{"tags":["Metadata"],"summary":"Retrieve OpenAPI specification document in yaml format","operationId":"getOpenApiSpecYaml","responses":{"200":{"$ref":"#/components/responses/OpenAPISpecification"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/md/applications/crunchbase/openapi.json":{"get":{"tags":["Metadata"],"summary":"Retrieve OpenAPI specification document in json format","operationId":"getOpenApiSpecJson","responses":{"200":{"$ref":"#/components/responses/OpenAPISpecification"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}},"/md/applications/crunchbase/fields":{"get":{"tags":["Metadata"],"summary":"Returns the list of fields for collections with type and description","operationId":"getFieldsMetadata","parameters":[{"name":"collection_ids","in":"query","description":"A comma separated list of collection ids to filter against. Leaving this blank means it will search across all collections.","style":"form","explode":false,"schema":{"title":"collection_ids","type":"array","items":{"type":"string","enum":["acquisitions","addresses","categories","category_groups","degrees","diversity_spotlights","event_appearances","events","funding_rounds","funds","investments","ipos","jobs","locations","organizations","ownerships","people","press_references","principals"]}}}],"responses":{"200":{"$ref":"#/components/responses/FieldsMetadataCSV"},"400":{"$ref":"#/components/responses/GenericBadRequestError"},"500":{"$ref":"#/components/responses/GenericInternalServerError"}}}}},"components":{"schemas":{"OrganizationFieldId":{"type":"string","description":"Organization field ids","enum":["acquirer_identifier","aliases","categories","category_groups","closed_on","company_type","contact_email","created_at","delisted_on","demo_days","description","diversity_spotlights","entity_def_id","equity_funding_total","exited_on","facebook","facet_ids","founded_on","founder_identifiers","funding_stage","funding_total","funds_total","hub_tags","identifier","image_id","image_url","investor_identifiers","investor_stage","investor_type","ipo_status","last_equity_funding_total","last_equity_funding_type","last_funding_at","last_funding_total","last_funding_type","layout_id","legal_name","linkedin","listed_stock_symbol","location_group_identifiers","location_identifiers","name","num_acquisitions","num_alumni","num_articles","num_current_advisor_positions","num_current_positions","num_diversity_spotlight_investments","num_employees_enum","num_enrollments","num_event_appearances","num_exits","num_exits_ipo","num_founder_alumni","num_founders","num_funding_rounds","num_funds","num_investments","num_investors","num_lead_investments","num_lead_investors","num_past_positions","num_portfolio_organizations","num_sub_organizations","operating_status","owner_identifier","permalink","permalink_aliases","phone_number","program_application_deadline","program_duration","program_type","rank","rank_delta_d30","rank_delta_d7","rank_delta_d90","rank_org","revenue_range","school_method","school_program","school_type","short_description","status","stock_exchange_symbol","stock_symbol","twitter","updated_at","uuid","valuation","valuation_date","website","website_url","went_public_on"]},"OrganizationEntitySearch":{"type":"object","description":"EntitySearch for Organization search","allOf":[{"$ref":"#/components/schemas/EntitySearch"},{"type":"object","required":["field_ids"],"properties":{"field_ids":{"type":"array","description":"The list of field_ids to include in the result","items":{"$ref":"#/components/schemas/OrganizationFieldId"}},"query":{"type":"array","description":"Search query to perform on the designated entity","items":{"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"}],"properties":{"field_id":{"$ref":"#/components/schemas/OrganizationFieldId"}}}}}}]},"PersonFieldId":{"type":"string","description":"Person field ids","enum":["aliases","born_on","created_at","description","died_on","entity_def_id","facebook","facet_ids","first_name","gender","identifier","image_id","image_url","investor_stage","investor_type","last_name","layout_id","linkedin","location_group_identifiers","location_identifiers","middle_name","name","num_articles","num_current_advisor_jobs","num_current_jobs","num_diversity_spotlight_investments","num_event_appearances","num_exits","num_exits_ipo","num_founded_organizations","num_investments","num_jobs","num_lead_investments","num_partner_investments","num_past_advisor_jobs","num_past_jobs","num_portfolio_organizations","permalink","permalink_aliases","primary_job_title","primary_organization","rank","rank_delta_d30","rank_delta_d7","rank_delta_d90","rank_person","short_description","twitter","updated_at","uuid","website","website_url"]},"PersonEntitySearch":{"type":"object","description":"EntitySearch for Person search","allOf":[{"$ref":"#/components/schemas/EntitySearch"},{"type":"object","required":["field_ids"],"properties":{"field_ids":{"type":"array","description":"The list of field_ids to include in the result","items":{"$ref":"#/components/schemas/PersonFieldId"}},"query":{"type":"array","description":"Search query to perform on the designated entity","items":{"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"}],"properties":{"field_id":{"$ref":"#/components/schemas/PersonFieldId"}}}}}}]},"FundingRoundFieldId":{"type":"string","description":"FundingRound field ids","enum":["announced_on","closed_on","created_at","entity_def_id","funded_organization_categories","funded_organization_description","funded_organization_diversity_spotlights","funded_organization_funding_stage","funded_organization_funding_total","funded_organization_identifier","funded_organization_location","funded_organization_revenue_range","identifier","image_id","investment_stage","investment_type","investor_identifiers","is_equity","lead_investor_identifiers","money_raised","name","num_investors","num_partners","permalink","post_money_valuation","post_money_valuation_source","pre_money_valuation","rank","rank_funding_round","short_description","target_money_raised","updated_at","uuid"]},"FundingRoundEntitySearch":{"type":"object","description":"EntitySearch for FundingRound search","allOf":[{"$ref":"#/components/schemas/EntitySearch"},{"type":"object","required":["field_ids"],"properties":{"field_ids":{"type":"array","description":"The list of field_ids to include in the result","items":{"$ref":"#/components/schemas/FundingRoundFieldId"}},"query":{"type":"array","description":"Search query to perform on the designated entity","items":{"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"}],"properties":{"field_id":{"$ref":"#/components/schemas/FundingRoundFieldId"}}}}}}]},"AcquisitionFieldId":{"type":"string","description":"Acquisition field ids","enum":["acquiree_categories","acquiree_funding_total","acquiree_identifier","acquiree_last_funding_type","acquiree_locations","acquiree_num_funding_rounds","acquiree_revenue_range","acquiree_short_description","acquirer_categories","acquirer_funding_stage","acquirer_funding_total","acquirer_identifier","acquirer_locations","acquirer_num_funding_rounds","acquirer_revenue_range","acquirer_short_description","acquisition_type","announced_on","completed_on","created_at","disposition_of_acquired","entity_def_id","identifier","permalink","price","rank","rank_acquisition","short_description","status","terms","updated_at","uuid"]},"AcquisitionEntitySearch":{"type":"object","description":"EntitySearch for Acquisition search","allOf":[{"$ref":"#/components/schemas/EntitySearch"},{"type":"object","required":["field_ids"],"properties":{"field_ids":{"type":"array","description":"The list of field_ids to include in the result","items":{"$ref":"#/components/schemas/AcquisitionFieldId"}},"query":{"type":"array","description":"Search query to perform on the designated entity","items":{"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"}],"properties":{"field_id":{"$ref":"#/components/schemas/AcquisitionFieldId"}}}}}}]},"InvestmentFieldId":{"type":"string","description":"Investment field ids","enum":["announced_on","created_at","entity_def_id","funding_round_identifier","funding_round_investment_type","funding_round_money_raised","identifier","investor_identifier","investor_stage","investor_type","is_lead_investor","money_invested","name","organization_diversity_spotlights","organization_identifier","partner_identifiers","permalink","updated_at","uuid"]},"InvestmentEntitySearch":{"type":"object","description":"EntitySearch for Investment search","allOf":[{"$ref":"#/components/schemas/EntitySearch"},{"type":"object","required":["field_ids"],"properties":{"field_ids":{"type":"array","description":"The list of field_ids to include in the result","items":{"$ref":"#/components/schemas/InvestmentFieldId"}},"query":{"type":"array","description":"Search query to perform on the designated entity","items":{"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"}],"properties":{"field_id":{"$ref":"#/components/schemas/InvestmentFieldId"}}}}}}]},"EventFieldId":{"type":"string","description":"Event field ids","enum":["categories","category_groups","created_at","description","ends_on","entity_def_id","event_type","event_url","identifier","image_id","image_url","location_group_identifiers","location_identifiers","name","num_contestants","num_exhibitors","num_organizers","num_speakers","num_sponsors","organizer_identifiers","permalink","permalink_aliases","rank","rank_event","registration_url","short_description","starts_on","updated_at","uuid","venue_name"]},"EventEntitySearch":{"type":"object","description":"EntitySearch for Event search","allOf":[{"$ref":"#/components/schemas/EntitySearch"},{"type":"object","required":["field_ids"],"properties":{"field_ids":{"type":"array","description":"The list of field_ids to include in the result","items":{"$ref":"#/components/schemas/EventFieldId"}},"query":{"type":"array","description":"Search query to perform on the designated entity","items":{"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"}],"properties":{"field_id":{"$ref":"#/components/schemas/EventFieldId"}}}}}}]},"PressReferenceFieldId":{"type":"string","description":"PressReference field ids","enum":["activity_entities","author","created_at","entity_def_id","facet_ids","identifier","posted_on","publisher","thumbnail_url","title","updated_at","url","uuid"]},"PressReferenceEntitySearch":{"type":"object","description":"EntitySearch for PressReference search","allOf":[{"$ref":"#/components/schemas/EntitySearch"},{"type":"object","required":["field_ids"],"properties":{"field_ids":{"type":"array","description":"The list of field_ids to include in the result","items":{"$ref":"#/components/schemas/PressReferenceFieldId"}},"query":{"type":"array","description":"Search query to perform on the designated entity","items":{"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"}],"properties":{"field_id":{"$ref":"#/components/schemas/PressReferenceFieldId"}}}}}}]},"FundFieldId":{"type":"string","description":"Fund field ids","enum":["announced_on","created_at","entity_def_id","identifier","image_id","investor_identifiers","money_raised","name","num_investors","owner_identifier","permalink","rank","short_description","started_on","updated_at","uuid"]},"FundEntitySearch":{"type":"object","description":"EntitySearch for Fund search","allOf":[{"$ref":"#/components/schemas/EntitySearch"},{"type":"object","required":["field_ids"],"properties":{"field_ids":{"type":"array","description":"The list of field_ids to include in the result","items":{"$ref":"#/components/schemas/FundFieldId"}},"query":{"type":"array","description":"Search query to perform on the designated entity","items":{"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"}],"properties":{"field_id":{"$ref":"#/components/schemas/FundFieldId"}}}}}}]},"EventAppearanceFieldId":{"type":"string","description":"EventAppearance field ids","enum":["appearance_type","created_at","entity_def_id","event_identifier","event_location_identifiers","event_starts_on","identifier","name","participant_identifier","permalink","short_description","updated_at","uuid"]},"EventAppearanceEntitySearch":{"type":"object","description":"EntitySearch for EventAppearance search","allOf":[{"$ref":"#/components/schemas/EntitySearch"},{"type":"object","required":["field_ids"],"properties":{"field_ids":{"type":"array","description":"The list of field_ids to include in the result","items":{"$ref":"#/components/schemas/EventAppearanceFieldId"}},"query":{"type":"array","description":"Search query to perform on the designated entity","items":{"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"}],"properties":{"field_id":{"$ref":"#/components/schemas/EventAppearanceFieldId"}}}}}}]},"IpoFieldId":{"type":"string","description":"Ipo field ids","enum":["amount_raised","created_at","delisted_on","entity_def_id","identifier","image_id","organization_identifier","permalink","rank","rank_ipo","share_price","shares_outstanding","shares_sold","short_description","stock_exchange_symbol","stock_full_symbol","stock_symbol","updated_at","uuid","valuation","went_public_on"]},"IpoEntitySearch":{"type":"object","description":"EntitySearch for Ipo search","allOf":[{"$ref":"#/components/schemas/EntitySearch"},{"type":"object","required":["field_ids"],"properties":{"field_ids":{"type":"array","description":"The list of field_ids to include in the result","items":{"$ref":"#/components/schemas/IpoFieldId"}},"query":{"type":"array","description":"Search query to perform on the designated entity","items":{"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"}],"properties":{"field_id":{"$ref":"#/components/schemas/IpoFieldId"}}}}}}]},"OwnershipFieldId":{"type":"string","description":"Ownership field ids","enum":["created_at","entity_def_id","identifier","name","ownee_identifier","owner_identifier","ownership_type","permalink","rank","updated_at","uuid"]},"OwnershipEntitySearch":{"type":"object","description":"EntitySearch for Ownership search","allOf":[{"$ref":"#/components/schemas/EntitySearch"},{"type":"object","required":["field_ids"],"properties":{"field_ids":{"type":"array","description":"The list of field_ids to include in the result","items":{"$ref":"#/components/schemas/OwnershipFieldId"}},"query":{"type":"array","description":"Search query to perform on the designated entity","items":{"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"}],"properties":{"field_id":{"$ref":"#/components/schemas/OwnershipFieldId"}}}}}}]},"CategoryFieldId":{"type":"string","description":"Category field ids","enum":["category_groups","created_at","entity_def_id","identifier","naics_code","name","updated_at","uuid"]},"CategoryEntitySearch":{"type":"object","description":"EntitySearch for Category search","allOf":[{"$ref":"#/components/schemas/EntitySearch"},{"type":"object","required":["field_ids"],"properties":{"field_ids":{"type":"array","description":"The list of field_ids to include in the result","items":{"$ref":"#/components/schemas/CategoryFieldId"}},"query":{"type":"array","description":"Search query to perform on the designated entity","items":{"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"}],"properties":{"field_id":{"$ref":"#/components/schemas/CategoryFieldId"}}}}}}]},"CategoryGroupFieldId":{"type":"string","description":"CategoryGroup field ids","enum":["categories","created_at","entity_def_id","identifier","name","updated_at","uuid"]},"CategoryGroupEntitySearch":{"type":"object","description":"EntitySearch for CategoryGroup search","allOf":[{"$ref":"#/components/schemas/EntitySearch"},{"type":"object","required":["field_ids"],"properties":{"field_ids":{"type":"array","description":"The list of field_ids to include in the result","items":{"$ref":"#/components/schemas/CategoryGroupFieldId"}},"query":{"type":"array","description":"Search query to perform on the designated entity","items":{"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"}],"properties":{"field_id":{"$ref":"#/components/schemas/CategoryGroupFieldId"}}}}}}]},"LocationFieldId":{"type":"string","description":"Location field ids","enum":["country_code","country_code_ext","created_at","entity_def_id","facet_ids","groups","identifier","location_type","locations","name","permalink","permalink_aliases","region_code","short_description","updated_at","uuid"]},"LocationEntitySearch":{"type":"object","description":"EntitySearch for Location search","allOf":[{"$ref":"#/components/schemas/EntitySearch"},{"type":"object","required":["field_ids"],"properties":{"field_ids":{"type":"array","description":"The list of field_ids to include in the result","items":{"$ref":"#/components/schemas/LocationFieldId"}},"query":{"type":"array","description":"Search query to perform on the designated entity","items":{"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"}],"properties":{"field_id":{"$ref":"#/components/schemas/LocationFieldId"}}}}}}]},"JobFieldId":{"type":"string","description":"Job field ids","enum":["created_at","employee_featured_order","ended_on","entity_def_id","identifier","is_current","job_type","name","organization_identifier","permalink","person_identifier","short_description","started_on","title","updated_at","uuid"]},"JobEntitySearch":{"type":"object","description":"EntitySearch for Job search","allOf":[{"$ref":"#/components/schemas/EntitySearch"},{"type":"object","required":["field_ids"],"properties":{"field_ids":{"type":"array","description":"The list of field_ids to include in the result","items":{"$ref":"#/components/schemas/JobFieldId"}},"query":{"type":"array","description":"Search query to perform on the designated entity","items":{"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"}],"properties":{"field_id":{"$ref":"#/components/schemas/JobFieldId"}}}}}}]},"AddressFieldId":{"type":"string","description":"Address field ids","enum":["country_code","created_at","entity_def_id","headquartered_organization_identifier","identifier","location_identifiers","name","postal_code","region_code","street_1","street_2","updated_at","uuid"]},"AddressEntitySearch":{"type":"object","description":"EntitySearch for Address search","allOf":[{"$ref":"#/components/schemas/EntitySearch"},{"type":"object","required":["field_ids"],"properties":{"field_ids":{"type":"array","description":"The list of field_ids to include in the result","items":{"$ref":"#/components/schemas/AddressFieldId"}},"query":{"type":"array","description":"Search query to perform on the designated entity","items":{"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"}],"properties":{"field_id":{"$ref":"#/components/schemas/AddressFieldId"}}}}}}]},"DegreeFieldId":{"type":"string","description":"Degree field ids","enum":["completed_on","created_at","entity_def_id","identifier","name","person_identifier","school_identifier","started_on","subject","type_name","updated_at","uuid"]},"DegreeEntitySearch":{"type":"object","description":"EntitySearch for Degree search","allOf":[{"$ref":"#/components/schemas/EntitySearch"},{"type":"object","required":["field_ids"],"properties":{"field_ids":{"type":"array","description":"The list of field_ids to include in the result","items":{"$ref":"#/components/schemas/DegreeFieldId"}},"query":{"type":"array","description":"Search query to perform on the designated entity","items":{"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"}],"properties":{"field_id":{"$ref":"#/components/schemas/DegreeFieldId"}}}}}}]},"DiversitySpotlightFieldId":{"type":"string","description":"DiversitySpotlight field ids","enum":["created_at","entity_def_id","facet_ids","identifier","name","updated_at","uuid"]},"DiversitySpotlightEntitySearch":{"type":"object","description":"EntitySearch for DiversitySpotlight search","allOf":[{"$ref":"#/components/schemas/EntitySearch"},{"type":"object","required":["field_ids"],"properties":{"field_ids":{"type":"array","description":"The list of field_ids to include in the result","items":{"$ref":"#/components/schemas/DiversitySpotlightFieldId"}},"query":{"type":"array","description":"Search query to perform on the designated entity","items":{"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"}],"properties":{"field_id":{"$ref":"#/components/schemas/DiversitySpotlightFieldId"}}}}}}]},"PrincipalFieldId":{"type":"string","description":"Principal field ids","enum":["aliases","born_on","categories","category_groups","closed_on","company_type","contact_email","created_at","delisted_on","description","died_on","diversity_spotlights","entity_def_id","equity_funding_total","exited_on","facebook","facet_ids","first_name","founded_on","founder_identifiers","funding_stage","funding_total","gender","hub_tags","identifier","image_id","image_url","investor_identifiers","investor_stage","investor_type","ipo_status","last_equity_funding_total","last_equity_funding_type","last_funding_at","last_funding_total","last_funding_type","last_name","layout_id","linkedin","location_group_identifiers","location_identifiers","name","num_alumni","num_articles","num_diversity_spotlight_investments","num_employees_enum","num_enrollments","num_event_appearances","num_exits","num_exits_ipo","num_founded_organizations","num_founders","num_funding_rounds","num_funds","num_investments","num_investors","num_jobs","num_lead_investments","num_lead_investors","num_partner_investments","num_portfolio_organizations","operating_status","permalink","permalink_aliases","phone_number","primary_job_title","primary_organization","program_application_deadline","program_duration","program_type","rank","rank_delta_d30","rank_delta_d7","rank_delta_d90","revenue_range","school_method","school_program","school_type","short_description","status","stock_exchange_symbol","stock_symbol","twitter","updated_at","uuid","website","website_url","went_public_on"]},"PrincipalEntitySearch":{"type":"object","description":"EntitySearch for Principal search","allOf":[{"$ref":"#/components/schemas/EntitySearch"},{"type":"object","required":["field_ids"],"properties":{"field_ids":{"type":"array","description":"The list of field_ids to include in the result","items":{"$ref":"#/components/schemas/PrincipalFieldId"}},"query":{"type":"array","description":"Search query to perform on the designated entity","items":{"type":"object","allOf":[{"$ref":"#/components/schemas/Predicate"}],"properties":{"field_id":{"$ref":"#/components/schemas/PrincipalFieldId"}}}}}}]},"Acquisition":{"type":"object","required":["identifier"],"properties":{"acquiree_categories":{"type":"array","description":"Keyword, sector, or industry","items":{"$ref":"#/components/schemas/EntityIdentifier"},"x-cb-field-type":"identifier_multi","x-cb-searchable":true,"x-cb-search-operators":["blank","includes","includes_all","not_includes","not_includes_all"]},"acquiree_funding_total":{"type":"object","description":"Total funding amount raised across all acquired organization's funding rounds","allOf":[{"$ref":"#/components/schemas/Money"}],"x-cb-field-type":"money","x-cb-searchable":true,"x-cb-search-operators":["between","blank","eq","gt","gte","lt","lte","not_eq"]},"acquiree_identifier":{"type":"object","description":"Name of the acquired organization","allOf":[{"$ref":"#/components/schemas/EntityIdentifier"}],"x-cb-field-type":"identifier","x-cb-searchable":true,"x-cb-search-operators":["blank","contains","eq","includes","not_contains","not_eq","not_includes","starts"]},"acquiree_last_funding_type":{"type":"string","description":"Last funding round type (e.g. Series A, Seed, Private Equity)\n* angel - Angel\n* convertible_note - Convertible Note\n* corporate_round - Corporate Round\n* debt_financing - Debt Financing\n* equity_crowdfunding - Equity Crowdfunding\n* grant - Grant\n* initial_coin_offering - Initial Coin Offering\n* non_equity_assistance - Non-equity Assistance\n* post_ipo_debt - Post-IPO Debt\n* post_ipo_equity - Post-IPO Equity\n* post_ipo_secondary - Post-IPO Secondary\n* pre_seed - Pre-Seed\n* private_equity - Private Equity\n* product_crowdfunding - Product Crowdfunding\n* secondary_market - Secondary Market\n* seed - Seed\n* series_a - Series A\n* series_b - Series B\n* series_c - Series C\n* series_d - Series D\n* series_e - Series E\n* series_f - Series F\n* series_g - Series G\n* series_h - Series H\n* series_i - Series I\n* series_j - Series J\n* series_unknown - Venture - Series Unknown\n* undisclosed - Undisclosed","enum":["pre_seed","seed","series_a","series_b","series_c","series_d","series_e","series_f","series_g","series_h","series_i","series_j","series_unknown","angel","private_equity","debt_financing","convertible_note","grant","corporate_round","equity_crowdfunding","product_crowdfunding","secondary_market","post_ipo_equity","post_ipo_debt","post_ipo_secondary","non_equity_assistance","initial_coin_offering","undisclosed"],"x-enum-descriptions":["Pre-Seed","Seed","Series A","Series B","Series C","Series D","Series E","Series F","Series G","Series H","Series I","Series J","Venture - Series Unknown","Angel","Private Equity","Debt Financing","Convertible Note","Grant","Corporate Round","Equity Crowdfunding","Product Crowdfunding","Secondary Market","Post-IPO Equity","Post-IPO Debt","Post-IPO Secondary","Non-equity Assistance","Initial Coin Offering","Undisclosed"],"x-cb-field-enum-values":[{"value":"pre_seed","description":"Pre-Seed"},{"value":"seed","description":"Seed"},{"value":"series_a","description":"Series A"},{"value":"series_b","description":"Series B"},{"value":"series_c","description":"Series C"},{"value":"series_d","description":"Series D"},{"value":"series_e","description":"Series E"},{"value":"series_f","description":"Series F"},{"value":"series_g","description":"Series G"},{"value":"series_h","description":"Series H"},{"value":"series_i","description":"Series I"},{"value":"series_j","description":"Series J"},{"value":"series_unknown","description":"Venture - Series Unknown"},{"value":"angel","description":"Angel"},{"value":"private_equity","description":"Private Equity"},{"value":"debt_financing","description":"Debt Financing"},{"value":"convertible_note","description":"Convertible Note"},{"value":"grant","description":"Grant"},{"value":"corporate_round","description":"Corporate Round"},{"value":"equity_crowdfunding","description":"Equity Crowdfunding"},{"value":"product_crowdfunding","description":"Product Crowdfunding"},{"value":"secondary_market","description":"Secondary Market"},{"value":"post_ipo_equity","description":"Post-IPO Equity"},{"value":"post_ipo_debt","description":"Post-IPO Debt"},{"value":"post_ipo_secondary","description":"Post-IPO Secondary"},{"value":"non_equity_assistance","description":"Non-equity Assistance"},{"value":"initial_coin_offering","description":"Initial Coin Offering"},{"value":"undisclosed","description":"Undisclosed"}],"x-cb-field-type":"enum","x-cb-searchable":true,"x-cb-search-operators":["blank","eq","includes","not_eq","not_includes"]},"acquiree_locations":{"type":"array","description":"Where the acquired organization is headquartered","items":{"$ref":"#/components/schemas/LocationIdentifier"},"x-cb-field-type":"identifier_multi","x-cb-searchable":true,"x-cb-search-operators":["blank","includes","includes_all","not_includes","not_includes_all"]},"acquiree_num_funding_rounds":{"type":"number","description":"Acquired organization's total number of funding rounds","x-cb-field-type":"integer","x-cb-searchable":true,"x-cb-search-operators":["between","blank","eq","gt","gte","lt","lte","not_eq"]},"acquiree_revenue_range":{"type":"string","description":"Estimated revenue range for acquired organization\n* r_00000000 - Less than $1M\n* r_00001000 - $1M to $10M\n* r_00010000 - $10M to $50M\n* r_00050000 - $50M to $100M\n* r_00100000 - $100M to $500M\n* r_00500000 - $500M to $1B\n* r_01000000 - $1B to $10B\n* r_10000000 - $10B+","enum":["r_00000000","r_00001000","r_00010000","r_00050000","r_00100000","r_00500000","r_01000000","r_10000000"],"x-enum-descriptions":["Less than $1M","$1M to $10M","$10M to $50M","$50M to $100M","$100M to $500M","$500M to $1B","$1B to $10B","$10B+"],"x-cb-field-enum-values":[{"value":"r_00000000","description":"Less than $1M"},{"value":"r_00001000","description":"$1M to $10M"},{"value":"r_00010000","description":"$10M to $50M"},{"value":"r_00050000","description":"$50M to $100M"},{"value":"r_00100000","description":"$100M to $500M"},{"value":"r_00500000","description":"$500M to $1B"},{"value":"r_01000000","description":"$1B to $10B"},{"value":"r_10000000","description":"$10B+"}],"x-cb-field-type":"enum","x-cb-searchable":true,"x-cb-search-operators":["blank","eq","includes","not_eq","not_includes"]},"acquiree_short_description":{"type":"string","description":"Text of acquired organization's description, industries, and industry groups","maxLength":8192,"x-cb-field-type":"text_long","x-cb-searchable":true,"x-cb-search-operators":["blank","contains","not_contains"]},"acquirer_categories":{"type":"array","description":"Keyword, sector, or industry","items":{"$ref":"#/components/schemas/EntityIdentifier"},"x-cb-field-type":"identifier_multi","x-cb-searchable":true,"x-cb-search-operators":["blank","includes","includes_all","not_includes","not_includes_all"]},"acquirer_funding_stage":{"type":"string","description":"Acquiring organization's most recent funding status\n* early_stage_venture - Early Stage Venture\n* ipo - IPO\n* late_stage_venture - Late Stage Venture\n* m_and_a - M&A\n* private_equity - Private Equity\n* seed - Seed","enum":["seed","early_stage_venture","late_stage_venture","private_equity","m_and_a","ipo"],"x-enum-descriptions":["Seed","Early Stage Venture","Late Stage Venture","Private Equity","M&A","IPO"],"x-cb-field-enum-values":[{"value":"seed","description":"Seed"},{"value":"early_stage_venture","description":"Early Stage Venture"},{"value":"late_stage_venture","description":"Late Stage Venture"},{"value":"private_equity","description":"Private Equity"},{"value":"m_and_a","description":"M&A"},{"value":"ipo","description":"IPO"}],"x-cb-field-type":"enum","x-cb-searchable":true,"x-cb-search-operators":["blank","eq","includes","not_eq","not_includes"]},"acquirer_funding_total":{"type":"object","description":"Total funding amount raised across all acquiring organization's funding rounds","allOf":[{"$ref":"#/components/schemas/Money"}],"x-cb-field-type":"money","x-cb-searchable":true,"x-cb-search-operators":["between","blank","eq","gt","gte","lt","lte","not_eq"]},"acquirer_identifier":{"type":"object","description":"Name of the acquiring organization","allOf":[{"$ref":"#/components/schemas/EntityIdentifier"}],"x-cb-field-type":"identifier","x-cb-searchable":true,"x-cb-search-operators":["blank","contains","eq","includes","not_contains","not_eq","not_includes","starts"]},"acquirer_locations":{"type":"array","description":"Where the organization is headquartered","items":{"$ref":"#/components/schemas/LocationIdentifier"},"x-cb-field-type":"identifier_multi","x-cb-searchable":true,"x-cb-search-operators":["blank","includes","includes_all","not_includes","not_includes_all"]},"acquirer_num_funding_rounds":{"type":"number","description":"Acquiring organization's total number of funding rounds","x-cb-field-type":"integer","x-cb-searchable":true,"x-cb-search-operators":["between","blank","eq","gt","gte","lt","lte","not_eq"]},"acquirer_revenue_range":{"type":"string","description":"Estimated revenue range for acquiring organization\n* r_00000000 - Less than $1M\n* r_00001000 - $1M to $10M\n* r_00010000 - $10M to $50M\n* r_00050000 - $50M to $100M\n* r_00100000 - $100M to $500M\n* r_00500000 - $500M to $1B\n* r_01000000 - $1B to $10B\n* r_10000000 - $10B+","enum":["r_00000000","r_00001000","r_00010000","r_00050000","r_00100000","r_00500000","r_01000000","r_10000000"],"x-enum-descriptions":["Less than $1M","$1M to $10M","$10M to $50M","$50M to $100M","$100M to $500M","$500M to $1B","$1B to $10B","$10B+"],"x-cb-field-enum-values":[{"value":"r_00000000","description":"Less than $1M"},{"value":"r_00001000","description":"$1M to $10M"},{"value":"r_00010000","description":"$10M to $50M"},{"value":"r_00050000","description":"$50M to $100M"},{"value":"r_00100000","description":"$100M to $500M"},{"value":"r_00500000","description":"$500M to $1B"},{"value":"r_01000000","description":"$1B to $10B"},{"value":"r_10000000","description":"$10B+"}],"x-cb-field-type":"enum","x-cb-searchable":true,"x-cb-search-operators":["blank","eq","includes","not_eq","not_includes"]},"acquirer_short_description":{"type":"string","description":"Text of acquiring organization's description, industries, and industry groups","maxLength":8192,"x-cb-field-type":"text_long","x-cb-searchable":true,"x-cb-search-operators":["blank","contains","not_contains"]},"acquisition_type":{"type":"string","description":"Type of acquisition\n* acquihire - Acquihire\n* acquisition - Acquisition\n* lbo - Leveraged Buyout\n* management_buyout - Management Buyout\n* merge - Merger","enum":["acquisition","merge","lbo","acquihire","management_buyout"],"x-enum-descriptions":["Acquisition","Merger","Leveraged Buyout","Acquihire","Management Buyout"],"x-cb-field-enum-values":[{"value":"acquisition","description":"Acquisition"},{"value":"merge","description":"Merger"},{"value":"lbo","description":"Leveraged Buyout"},{"value":"acquihire","description":"Acquihire"},{"value":"management_buyout","description":"Management Buyout"}],"x-cb-field-type":"enum","x-cb-searchable":true,"x-cb-search-operators":["blank","eq","includes","not_eq","not_includes"]},"announced_on":{"type":"object","description":"Date the acquisition was announced","allOf":[{"$ref":"#/components/schemas/DateWithPrecision"}],"x-cb-field-type":"date_precision","x-cb-searchable":true,"x-cb-search-operators":["between","blank","eq","gte","lte"]},"completed_on":{"type":"object","description":"Date the Acquisition was completed","allOf":[{"$ref":"#/components/schemas/DateWithPrecision"}],"x-cb-field-type":"date_precision","x-cb-searchable":true,"x-cb-search-operators":["between","blank","eq","gte","lte"]},"created_at":{"type":"string","format":"date-time","x-cb-field-type":"datetime","x-cb-searchable":true,"x-cb-search-operators":["between","blank","eq","gte","lte"]},"disposition_of_acquired":{"type":"string","description":"How is the acquired Organization structured after the acquisition\n* combined - Combined\n* division - Division\n* product - Product\n* separate_entity - Separate Entity\n* subsidiary - Subsidiary","enum":["subsidiary","separate_entity","combined","division","product"],"x-enum-descriptions":["Subsidiary","Separate Entity","Combined","Division","Product"],"x-cb-field-enum-values":[{"value":"subsidiary","description":"Subsidiary"},{"value":"separate_entity","description":"Separate Entity"},{"value":"combined","description":"Combined"},{"value":"division","description":"Division"},{"value":"product","description":"Product"}],"x-cb-field-type":"enum","x-cb-searchable":true,"x-cb-search-operators":["blank","eq","includes","not_eq","not_includes"]},"entity_def_id":{"type":"string","description":"* acquisition - Acquisition","enum":["acquisition"],"x-enum-descriptions":["Acquisition"],"x-cb-field-enum-values":[{"value":"acquisition","description":"Acquisition"}],"x-cb-field-type":"enum","x-cb-searchable":true,"x-cb-search-operators":["blank","eq","includes","not_eq","not_includes"]},"identifier":{"type":"object","description":"Auto-generated name of transaction (e.g. WhatsApp acquired by Facebook)","allOf":[{"$ref":"#/components/schemas/EntityIdentifier"}],"x-cb-field-type":"identifier","x-cb-searchable":true,"x-cb-search-operators":["blank","contains","eq","includes","not_contains","not_eq","not_includes","starts"]},"permalink":{"type":"string","maxLength":255,"x-cb-field-type":"permalink","x-cb-searchable":false,"x-cb-search-operators":[]},"price":{"type":"object","description":"Price of the acquisition","allOf":[{"$ref":"#/components/schemas/Money"}],"x-cb-field-type":"money","x-cb-searchable":true,"x-cb-search-operators":["between","blank","eq","gt","gte","lt","lte","not_eq"]},"rank":{"type":"number","description":"Algorithmic rank assigned to the top profiles on Crunchbase","x-cb-field-type":"integer","x-cb-searchable":true,"x-cb-search-operators":["between","blank","eq","gt","gte","lt","lte","not_eq"]},"rank_acquisition":{"type":"number","description":"Algorithmic rank assigned to the top 100,000 most active Acquisitions","x-cb-field-type":"integer","x-cb-searchable":true,"x-cb-search-operators":["between","blank","eq","gt","gte","lt","lte","not_eq"]},"short_description":{"type":"string","description":"Short description of the Acquisition","maxLength":8192,"x-cb-field-type":"text_long","x-cb-searchable":true,"x-cb-search-operators":["blank","contains","not_contains"]},"status":{"type":"string","description":"Status of the acquisition\n* complete - Complete\n* pending - Pending","enum":["complete","pending"],"x-enum-descriptions":["Complete","Pending"],"x-cb-field-enum-values":[{"value":"complete","description":"Complete"},{"value":"pending","description":"Pending"}],"x-cb-field-type":"enum","x-cb-searchable":true,"x-cb-search-operators":["blank","eq","includes","not_eq","not_includes"]},"terms":{"type":"string","description":"Terms of the acquisition\n* cash - Cash\n* cash_and_stock - Cash & Stock\n* stock - Stock","enum":["cash","stock","cash_and_stock"],"x-enum-descriptions":["Cash","Stock","Cash & Stock"],"x-cb-field-enum-values":[{"value":"cash","description":"Cash"},{"value":"stock","description":"Stock"},{"value":"cash_and_stock","description":"Cash & Stock"}],"x-cb-field-type":"enum","x-cb-searchable":true,"x-cb-search-operators":["blank","eq","includes","not_eq","not_includes"]},"updated_at":{"type":"string","format":"date-time","x-cb-field-type":"datetime","x-cb-searchable":true,"x-cb-search-operators":["between","blank","eq","gte","lte"]},"uuid":{"type":"string","format":"uuid","x-cb-field-type":"uuid","x-cb-searchable":true,"x-cb-search-operators":["blank","eq","includes","not_eq","not_includes"]}}},"AcquisitionEntity":{"type":"object","properties":{"cards":{"type":"object","properties":{"acquiree_organization":{"type":"array","items":{"$ref":"#/components/schemas/Organization"}},"acquirer_organization":{"type":"array","items":{"$ref":"#/components/schemas/Organization"}},"fields":{"$ref":"#/components/schemas/Acquisition"},"press_references":{"type":"array","items":{"$ref":"#/components/schemas/PressReference"}}}},"properties":{"$ref":"#/components/schemas/Acquisition"}}},"Address":{"type":"object","required":["identifier"],"properties":{"country_code":{"type":"string","description":"Country Code","maxLength":255,"x-cb-field-type":"text_exact","x-cb-searchable":true,"x-cb-search-operators":["blank","eq","includes","not_eq","not_includes"]},"created_at":{"type":"string","format":"date-time","x-cb-field-type":"datetime","x-cb-searchable":true,"x-cb-search-operators":["between","blank","eq","gte","lte"]},"entity_def_id":{"type":"string","description":"* address - Address","enum":["address"],"x-enum-descriptions":["Address"],"x-cb-field-enum-values":[{"value":"address","description":"Address"}],"x-cb-field-type":"enum","x-cb-searchable":true,"x-cb-search-operators":["blank","eq","includes","not_eq","not_includes"]},"headquartered_organization_identifier":{"type":"object","description":"Identifier of the organization that's headquartered on this address","allOf":[{"$ref":"#/components/schemas/EntityIdentifier"}],"x-cb-field-type":"identifier","x-cb-searchable":true,"x-cb-search-operators":["blank","contains","eq","includes","not_contains","not_eq","not_includes","starts"]},"identifier":{"type":"object","description":"Descriptive name of the Address (e.g. Headquarters, London Office)","allOf":[{"$ref":"#/components/schemas/EntityIdentifier"}],"x-cb-field-type":"identifier","x-cb-searchable":true,"x-cb-search-operators":["blank","contains","eq","includes","not_contains","not_eq","not_includes","starts"]},"location_identifiers":{"type":"array","description":"What city the address is located in (e.g. San Francisco, London, Kiev).","items":{"$ref":"#/components/schemas/LocationIdentifier"},"x-cb-field-type":"identifier_multi","x-cb-searchable":true,"x-cb-search-operators":["blank","includes","includes_all","not_includes","not_includes_all"]},"name":{"type":"string","description":"Descriptive name of the Address (e.g. Headquarters, London Office)","maxLength":8192,"x-cb-field-type":"text_blob","x-cb-searchable":false,"x-cb-search-operators":[]},"postal_code":{"type":"string","description":"The postal code of the address","maxLength":8192,"x-cb-field-type":"text_blob","x-cb-searchable":false,"x-cb-search-operators":[]},"region_code":{"type":"string","description":"Region Code","maxLength":255,"x-cb-field-type":"text_exact","x-cb-searchable":true,"x-cb-search-operators":["blank","eq","includes","not_eq","not_includes"]},"street_1":{"type":"string","description":"The street address of the location","maxLength":8192,"x-cb-field-type":"text_blob","x-cb-searchable":false,"x-cb-search-operators":[]},"street_2":{"type":"string","description":"The street address of the location","maxLength":8192,"x-cb-field-type":"text_blob","x-cb-searchable":false,"x-cb-search-operators":[]},"updated_at":{"type":"string","format":"date-time","x-cb-field-type":"datetime","x-cb-searchable":true,"x-cb-search-operators":["between","blank","eq","gte","lte"]},"uuid":{"type":"string","format":"uuid","x-cb-field-type":"uuid","x-cb-searchable":true,"x-cb-search-operators":["blank","eq","includes","not_eq","not_includes"]}}},"AddressEntity":{"type":"object","properties":{"cards":{"type":"object","properties":{"event":{"type":"array","items":{"$ref":"#/components/schemas/Event"}},"fields":{"$ref":"#/components/schemas/Address"},"organization":{"type":"array","items":{"$ref":"#/components/schemas/Organization"}}}},"properties":{"$ref":"#/components/schemas/Address"}}},"Category":{"type":"object","required":["identifier"],"properties":{"category_groups":{"type":"array","description":"Superset of Industries (e.g. Software, Mobile, Health Care)","items":{"$ref":"#/components/schemas/EntityIdentifier"},"x-cb-field-type":"identifier_multi","x-cb-searchable":true,"x-cb-search-operators":["blank","includes","includes_all","not_includes","not_includes_all"]},"created_at":{"type":"string","format":"date-time","x-cb-field-type":"datetime","x-cb-searchable":true,"x-cb-search-operators":["between","blank","eq","gte","lte"]},"entity_def_id":{"type":"string","description":"* category - Industry","enum":["category"],"x-enum-descriptions":["Industry"],"x-cb-field-enum-values":[{"value":"category","description":"Industry"}],"x-cb-field-type":"enum","x-cb-searchable":true,"x-cb-search-operators":["blank","eq","includes","not_eq","not_includes"]},"identifier":{"type":"object","description":"Descriptive keyword for a Company (e.g. SaaS, Android, Cloud Computing, Medical Device)","allOf":[{"$ref":"#/components/schemas/EntityIdentifier"}],"x-cb-field-type":"identifier","x-cb-searchable":true,"x-cb-search-operators":["blank","contains","eq","includes","not_contains","not_eq","not_includes","starts"]},"naics_code":{"type":"string","maxLength":255,"x-cb-field-type":"text_exact","x-cb-searchable":true,"x-cb-search-operators":["blank","eq","includes","not_eq","not_includes"]},"name":{"type":"string","description":"Descriptive name of the Industry","maxLength":8192,"x-cb-field-type":"text_blob","x-cb-searchable":false,"x-cb-search-operators":[]},"updated_at":{"type":"string","format":"date-time","x-cb-field-type":"datetime","x-cb-searchable":true,"x-cb-search-operators":["between","blank","eq","gte","lte"]},"uuid":{"type":"string","format":"uuid","x-cb-field-type":"uuid","x-cb-searchable":true,"x-cb-search-operators":["blank","eq","includes","not_eq","not_includes"]}}},"CategoryEntity":{"type":"object","properties":{"cards":{"type":"object","properties":{"fields":{"$ref":"#/components/schemas/Category"}}},"properties":{"$ref":"#/components/schemas/Category"}}},"CategoryGroup":{"type":"object","required":["identifier"],"properties":{"categories":{"type":"array","description":"Descriptive keyword for an Organization (e.g. SaaS, Android, Cloud Computing, Medical Device)","items":{"$ref":"#/components/schemas/EntityIdentifier"},"x-cb-field-type":"identifier_multi","x-cb-searchable":true,"x-cb-search-operators":["blank","includes","includes_all","not_includes","not_includes_all"]},"created_at":{"type":"string","format":"date-time","x-cb-field-type":"datetime","x-cb-searchable":true,"x-cb-search-operators":["between","blank","eq","gte","lte"]},"entity_def_id":{"type":"string","description":"* category_group - Industry Group","enum":["category_group"],"x-enum-descriptions":["Industry Group"],"x-cb-field-enum-values":[{"value":"category_group","description":"Industry Group"}],"x-cb-field-type":"enum","x-cb-searchable":true,"x-cb-search-operators":["blank","eq","includes","not_eq","not_includes"]},"identifier":{"type":"object","description":"Superset of Industries (e.g. Software, Mobile, Health Care)","allOf":[{"$ref":"#/components/schemas/EntityIdentifier"}],"x-cb-field-type":"identifier","x-cb-searchable":true,"x-cb-search-operators":["blank","contains","eq","includes","not_contains","not_eq","not_includes","starts"]},"name":{"type":"string","description":"Descriptive name of the Industry Group","maxLength":8192,"x-cb-field-type":"text_blob","x-cb-searchable":false,"x-cb-search-operators":[]},"updated_at":{"type":"string","format":"date-time","x-cb-field-type":"datetime","x-cb-searchable":true,"x-cb-search-operators":["between","blank","eq","gte","lte"]},"uuid":{"type":"string","format":"uuid","x-cb-field-type":"uuid","x-cb-searchable":true,"x-cb-search-operators":["blank","eq","includes","not_eq","not_includes"]}}},"CategoryGroupEntity":{"type":"object","properties":{"cards":{"type":"object","properties":{"fields":{"$ref":"#/components/schemas/CategoryGroup"}}},"properties":{"$ref":"#/components/schemas/CategoryGroup"}}},"CurrencyEnum":{"type":"string","description":"Currency codes","enum":["AED","AFN","ALL","AMD","ANG","AOA","ARS","AUD","AWG","AZN","BAM","BBD","BDT","BGN","BHD","BIF","BMD","BND","BOB","BRL","BSD","BTN","BWP","BYN","BYR","BZD","CAD","CDF","CHF","CLF","CLP","CNY","COP","CRC","CUC","CUP","CVE","CZK","DJF","DKK","DOP","DZD","EGP","ERN","ETB","EUR","FJD","FKP","GBP","GEL","GHS","GIP","GMD","GNF","GTQ","GYD","HKD","HNL","HRK","HTG","HUF","IDR","ILS","INR","IQD","IRR","ISK","JMD","JOD","JPY","KES","KGS","KHR","KMF","KPW","KRW","KWD","KYD","KZT","LAK","LBP","LKR","LRD","LSL","LTL","LVL","LYD","MAD","MDL","MGA","MKD","MMK","MNT","MOP","MRO","MUR","MVR","MWK","MXN","MYR","MZN","NAD","NGN","NIO","NOK","NPR","NZD","OMR","PAB","PEN","PGK","PHP","PKR","PLN","PYG","QAR","RON","RSD","RUB","RWF","SAR","SBD","SCR","SDG","SEK","SGD","SHP","SKK","SLL","SOS","SRD","SSP","STD","SVC","SYP","SZL","THB","TJS","TMT","TND","TOP","TRY","TTD","TWD","TZS","UAH","UGX","USD","UYU","UZS","VEF","VND","VUV","WST","XAF","XAG","XAU","XBA","XBB","XBC","XBD","XCD","XDR","XOF","XPD","XPF","XPT","xts","YER","ZAR","ZMK","ZMW"]},"DateWithPrecision":{"type":"object","description":"A field that will contain date information up to a certain level of precision. E.g. month, day, etc.","required":["precision"],"properties":{"precision":{"type
[...]
