openapi: 3.2.0
info:
  title: Predictions & Insights Package Metadata API
  description: Crunchbase API, 2026-08-13
  termsOfService: https://data.crunchbase.com/docs/terms
  contact:
    email: partnerships@crunchbase.com
  version: 1.1.0
servers:
- url: https://api.crunchbase.com/v4
security:
- ApiKeyAuthHeader: []
tags:
- name: Metadata
paths:
  /md/applications/crunchbase/openapi.yaml:
    get:
      tags:
      - Metadata
      summary: Retrieve OpenAPI specification document in yaml format
      operationId: getOpenApiSpecYaml
      responses:
        '200':
          $ref: '#/components/responses/OpenAPISpecification'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
  /md/applications/crunchbase/openapi.json:
    get:
      tags:
      - Metadata
      summary: Retrieve OpenAPI specification document in json format
      operationId: getOpenApiSpecJson
      responses:
        '200':
          $ref: '#/components/responses/OpenAPISpecification'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
  /md/applications/crunchbase/fields:
    get:
      tags:
      - Metadata
      summary: Returns the list of fields for collections with type and description
      operationId: getFieldsMetadata
      parameters:
      - name: collection_ids
        in: query
        description: A comma separated list of collection ids to filter against. Leaving this blank means it will search across all collections.
        style: form
        explode: false
        schema:
          title: collection_ids
          type: array
          items:
            type: string
            enum:
            - acquisition_predictions
            - acquisitions
            - addresses
            - awards
            - categories
            - category_groups
            - closure_predictions
            - current_valuation_estimates
            - degrees
            - diversity_spotlights
            - event_appearances
            - events
            - funding_predictions
            - funding_rounds
            - funds
            - growth_insights
            - growth_predictions
            - investments
            - investor_insights
            - investor_matches
            - ipo_predictions
            - ipos
            - jobs
            - key_employee_changes
            - layoff_predictions
            - layoffs
            - legal_proceedings
            - locations
            - market_insight_reasons
            - market_insights
            - micro_categories
            - org_similarities
            - organizations
            - ownerships
            - partnership_announcements
            - people
            - press_references
            - principals
            - product_launches
            - product_similarities
            - products
            - remain_private_predictions
            - research_insights
      responses:
        '200':
          $ref: '#/components/responses/FieldsMetadataCSV'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
components:
  schemas:
    Errors:
      type: object
      description: Developer friendly error message
      properties:
        value:
          type: string
          description: stuff
  responses:
    GenericInternalServerError:
      description: Request Failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    GenericBadRequestError:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    OpenAPISpecification:
      description: OpenAPI Specification document
      content:
        application/json:
          schema:
            type: object
            description: OpenAPI 3.0 specification document
    FieldsMetadataCSV:
      description: Fields metadata in CSV format
      content:
        text/csv:
          schema:
            type: string
            format: binary
  securitySchemes:
    ApiKeyAuthHeader:
      type: apiKey
      name: X-cb-user-key
      in: header
externalDocs:
  description: API Reference doc
  url: https://data.crunchbase.com/docs
