openapi: 3.2.0
info:
  title: Crunchbase Data Search API
  version: 1.1.0
  contact:
    email: partnerships@crunchbase.com
  termsOfService: https://data.crunchbase.com/docs/terms
  description: 'Operations tagged Search across 6 of this provider''s published API definitions: crunchbase-data-advanced-financials-openapi.yml, crunchbase-data-core-financials-openapi.yml, crunchbase-data-firmographic-openapi.yml, crunchbase-data-insights-openapi.yml, crunchbase-data-predictions-insights-openapi.yml, crunchbase-data-predictions-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.crunchbase.com/v4
security:
- ApiKeyAuthHeader: []
tags:
- name: Search
paths:
  /data/searches/organizations:
    post:
      tags:
      - Search
      summary: Search Organization Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchOrganizations
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrganizationEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/OrganizationSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/people:
    post:
      tags:
      - Search
      summary: Search Person Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchPeople
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PersonEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PersonSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/funding_rounds:
    post:
      tags:
      - Search
      summary: Search FundingRound Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchFundingRounds
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundingRoundEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/FundingRoundSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/acquisitions:
    post:
      tags:
      - Search
      summary: Search Acquisition Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchAcquisitions
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcquisitionEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/AcquisitionSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/investments:
    post:
      tags:
      - Search
      summary: Search Investment Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchInvestments
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvestmentEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/InvestmentSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/events:
    post:
      tags:
      - Search
      summary: Search Event Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchEvents
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/EventSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/press_references:
    post:
      tags:
      - Search
      summary: Search PressReference Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchPressReferences
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PressReferenceEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PressReferenceSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/funds:
    post:
      tags:
      - Search
      summary: Search Fund Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchFunds
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/FundSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/event_appearances:
    post:
      tags:
      - Search
      summary: Search EventAppearance Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchEventAppearances
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EventAppearanceEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/EventAppearanceSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/ipos:
    post:
      tags:
      - Search
      summary: Search Ipo Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchIpos
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpoEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/IpoSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/ownerships:
    post:
      tags:
      - Search
      summary: Search Ownership Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchOwnerships
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OwnershipEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/OwnershipSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/categories:
    post:
      tags:
      - Search
      summary: Search Category Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchCategories
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CategorySearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/category_groups:
    post:
      tags:
      - Search
      summary: Search CategoryGroup Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchCategoryGroups
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryGroupEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CategoryGroupSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/locations:
    post:
      tags:
      - Search
      summary: Search Location Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchLocations
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/LocationSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/jobs:
    post:
      tags:
      - Search
      summary: Search Job Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchJobs
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/JobSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/addresses:
    post:
      tags:
      - Search
      summary: Search Address Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchAddresses
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/AddressSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/degrees:
    post:
      tags:
      - Search
      summary: Search Degree Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchDegrees
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DegreeEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/DegreeSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/diversity_spotlights:
    post:
      tags:
      - Search
      summary: Search DiversitySpotlight Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchDiversitySpotlights
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DiversitySpotlightEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/DiversitySpotlightSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/principals:
    post:
      tags:
      - Search
      summary: Search Principal Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchPrincipals
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrincipalEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PrincipalSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/key_employee_changes:
    post:
      tags:
      - Search
      summary: Search KeyEmployeeChange Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchKeyEmployeeChanges
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KeyEmployeeChangeEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/KeyEmployeeChangeSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/layoffs:
    post:
      tags:
      - Search
      summary: Search Layoff Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchLayoffs
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LayoffEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/LayoffSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/awards:
    post:
      tags:
      - Search
      summary: Search Award Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchAwards
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AwardEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/AwardSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/current_valuation_estimates:
    post:
      tags:
      - Search
      summary: Search CurrentValuationEstimate Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchCurrentValuationEstimates
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CurrentValuationEstimateEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/CurrentValuationEstimateSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/growth_insights:
    post:
      tags:
      - Search
      summary: Search GrowthInsight Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchGrowthInsights
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrowthInsightEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/GrowthInsightSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/investor_insights:
    post:
      tags:
      - Search
      summary: Search InvestorInsight Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchInvestorInsights
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvestorInsightEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/InvestorInsightSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/investor_matches:
    post:
      tags:
      - Search
      summary: Search InvestorMatch Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchInvestorMatches
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvestorMatchEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/InvestorMatchSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/legal_proceedings:
    post:
      tags:
      - Search
      summary: Search LegalProceeding Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchLegalProceedings
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LegalProceedingEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/LegalProceedingSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/market_insights:
    post:
      tags:
      - Search
      summary: Search MarketInsight Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchMarketInsights
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketInsightEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/MarketInsightSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/market_insight_reasons:
    post:
      tags:
      - Search
      summary: Search MarketInsightReason Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchMarketInsightReasons
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarketInsightReasonEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/MarketInsightReasonSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/micro_categories:
    post:
      tags:
      - Search
      summary: Search MicroCategory Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchMicroCategories
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MicroCategoryEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/MicroCategorySearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/org_similarities:
    post:
      tags:
      - Search
      summary: Search OrgSimilarity Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchOrgSimilarities
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrgSimilarityEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/OrgSimilaritySearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/partnership_announcements:
    post:
      tags:
      - Search
      summary: Search PartnershipAnnouncement Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchPartnershipAnnouncements
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PartnershipAnnouncementEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/PartnershipAnnouncementSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/products:
    post:
      tags:
      - Search
      summary: Search Product Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchProducts
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/ProductSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/product_launches:
    post:
      tags:
      - Search
      summary: Search ProductLaunch Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchProductLaunches
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductLaunchEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/ProductLaunchSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/product_similarities:
    post:
      tags:
      - Search
      summary: Search ProductSimilarity Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchProductSimilarities
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductSimilarityEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/ProductSimilaritySearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/research_insights:
    post:
      tags:
      - Search
      summary: Search ResearchInsight Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchResearchInsights
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResearchInsightEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/ResearchInsightSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/acquisition_predictions:
    post:
      tags:
      - Search
      summary: Search AcquisitionPrediction Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchAcquisitionPredictions
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcquisitionPredictionEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/AcquisitionPredictionSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/closure_predictions:
    post:
      tags:
      - Search
      summary: Search ClosurePrediction Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchClosurePredictions
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClosurePredictionEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/ClosurePredictionSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/funding_predictions:
    post:
      tags:
      - Search
      summary: Search FundingPrediction Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchFundingPredictions
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundingPredictionEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/FundingPredictionSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/growth_predictions:
    post:
      tags:
      - Search
      summary: Search GrowthPrediction Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchGrowthPredictions
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GrowthPredictionEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/GrowthPredictionSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/ipo_predictions:
    post:
      tags:
      - Search
      summary: Search IpoPrediction Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchIpoPredictions
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IpoPredictionEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/IpoPredictionSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/layoff_predictions:
    post:
      tags:
      - Search
      summary: Search LayoffPrediction Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchLayoffPredictions
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LayoffPredictionEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/LayoffPredictionSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/searches/remain_private_predictions:
    post:
      tags:
      - Search
      summary: Search RemainPrivatePrediction Entities
      description: Can perform more complex filtering based on the query defined in the request body
      operationId: searchRemainPrivatePredictions
      requestBody:
        description: Search Query Parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemainPrivatePredictionEntitySearch'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/RemainPrivatePredictionSearchResults'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
components:
  schemas:
    Organization:
      type: object
      required:
      - identifier
      properties:
        acquirer_identifier:
          type: object
          description: Name of the organization that made the acquisition
          allOf:
          - $ref: '#/components/schemas/EntityIdentifier'
          x-cb-field-type: identifier
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - contains
          - eq
          - includes
          - not_contains
          - not_eq
          - not_includes
          - starts
        aliases:
          type: array
          description: Alternate or previous names for the organization
          items:
            type: string
            maxLength: 255
          x-cb-field-type: text_short_multi
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - contains
          - eq
          - not_contains
          - not_eq
          - starts
        categories:
          type: array
          description: Descriptive keyword for an Organization (e.g. SaaS, Android, Cloud Computing, Medical Device)
          items:
            $ref: '#/components/schemas/EntityIdentifier'
          x-cb-field-type: identifier_multi
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - includes
          - includes_all
          - not_includes
          - not_includes_all
        category_groups:
          type: array
          description: Superset of Industries (e.g. Software, Mobile, Health Care)
          items:
            $ref: '#/components/schemas/EntityIdentifier'
          x-cb-field-type: identifier_multi
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - includes
          - includes_all
          - not_includes
          - not_includes_all
        closed_on:
          type: object
          description: The date when the organization is closed
          allOf:
          - $ref: '#/components/schemas/DateWithPrecision'
          x-cb-field-type: date_precision
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gte
          - lte
        company_type:
          type: string
          description: 'Whether an Organization is for profit or non-profit

            * for_profit - For Profit

            * non_profit - Non-profit'
          enum:
          - for_profit
          - non_profit
          x-enum-descriptions:
          - For Profit
          - Non-profit
          x-cb-field-enum-values:
          - value: for_profit
            description: For Profit
          - value: non_profit
            description: Non-profit
          x-cb-field-type: enum
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - eq
          - includes
          - not_eq
          - not_includes
        contact_email:
          type: string
          description: General contact email for the organization
          maxLength: 8192
          x-cb-field-type: text_blob
          x-cb-searchable: false
          x-cb-search-operators: []
        created_at:
          type: string
          format: date-time
          x-cb-field-type: datetime
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gte
          - lte
        delisted_on:
          type: object
          description: The date when the Organization removed its stock from the stock exchange.
          allOf:
          - $ref: '#/components/schemas/DateWithPrecision'
          x-cb-field-type: date_precision
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gte
          - lte
        demo_days:
          type: boolean
          description: Whether an accelerator hosts any demo days
          x-cb-field-type: boolean
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - eq
        description:
          type: string
          description: Organization Description, Industries, Industry Groups
          maxLength: 8192
          x-cb-field-type: text_long
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - contains
          - not_contains
        diversity_spotlights:
          type: array
          description: Types of diversity represented in an organization, specifically of those who are founding members, currently the CEO, or have check-writing abilities in an investment firm. This feature is in beta and may change with future updates.
          items:
            $ref: '#/components/schemas/EntityIdentifier'
          x-cb-field-type: identifier_multi
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - includes
          - includes_all
          - not_includes
          - not_includes_all
        entity_def_id:
          type: string
          description: '* organization - Organization'
          enum:
          - organization
          x-enum-descriptions:
          - Organization
          x-cb-field-enum-values:
          - value: organization
            description: Organization
          x-cb-field-type: enum
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - eq
          - includes
          - not_eq
          - not_includes
        equity_funding_total:
          type: object
          description: Total funding amount raised across all Funding Rounds excluding debt
          allOf:
          - $ref: '#/components/schemas/Money'
          x-cb-field-type: money
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        exited_on:
          type: object
          description: Date the organization was acquired or went public
          allOf:
          - $ref: '#/components/schemas/DateWithPrecision'
          x-cb-field-type: date_precision
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gte
          - lte
        facebook:
          type: object
          description: Link to Organization's Facebook page
          allOf:
          - $ref: '#/components/schemas/Link'
          x-cb-field-type: link
          x-cb-searchable: false
          x-cb-search-operators: []
        facet_ids:
          type: array
          items:
            type: string
            description: '* company - Company

              * government_entity - Government Entity

              * investor - Investor

              * school - School'
            enum:
            - company
            - government_entity
            - investor
            - school
          x-cb-field-type: enum_multi
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - includes
          - includes_all
          - not_includes
          - not_includes_all
        founded_on:
          type: object
          description: Date the Organization was founded
          allOf:
          - $ref: '#/components/schemas/DateWithPrecision'
          x-cb-field-type: date_precision
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gte
          - lte
        founder_identifiers:
          type: array
          description: Founders of the organization
          items:
            $ref: '#/components/schemas/EntityIdentifier'
          x-cb-field-type: identifier_multi
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - includes
          - includes_all
          - not_includes
          - not_includes_all
        funding_stage:
          type: string
          description: 'This field describes an organization''s most recent funding status (e.g. Early Stage Venture, Late Stage Venture, M&A)

            * early_stage_venture - Early Stage Venture

            * ipo - IPO

            * late_stage_venture - Late Stage Venture

            * m_and_a - M&A

            * private_equity - Private Equity

            * seed - Seed'
          enum:
          - seed
          - early_stage_venture
          - late_stage_venture
          - private_equity
          - m_and_a
          - ipo
          x-enum-descriptions:
          - Seed
          - Early Stage Venture
          - Late Stage Venture
          - Private Equity
          - M&A
          - IPO
          x-cb-field-enum-values:
          - value: seed
            description: Seed
          - value: early_stage_venture
            description: Early Stage Venture
          - value: late_stage_venture
            description: Late Stage Venture
          - value: private_equity
            description: Private Equity
          - value: m_and_a
            description: M&A
          - value: ipo
            description: IPO
          x-cb-field-type: enum
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - eq
          - includes
          - not_eq
          - not_includes
        funding_total:
          type: object
          description: Total amount raised across all funding rounds
          allOf:
          - $ref: '#/components/schemas/Money'
          x-cb-field-type: money
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        funds_total:
          type: object
          description: Total funding amount raised across all Fund Raises
          allOf:
          - $ref: '#/components/schemas/Money'
          x-cb-field-type: money
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        hub_tags:
          type: array
          description: Tags are labels assigned to organizations, which identify their belonging to a group with that shared label
          items:
            type: string
            description: 'Tags are labels assigned to organizations, which identify their belonging to a group with that shared label

              * cbvp - Crunchbase Venture Program

              * emerging_unicorn - Emerging Unicorn

              * exited_unicorn - Exited Unicorn

              * pledge_one_percent - Pledge 1%

              * unicorn - Unicorn'
            enum:
            - cbvp
            - pledge_one_percent
            - unicorn
            - emerging_unicorn
            - exited_unicorn
          x-cb-field-type: enum_multi
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - includes
          - includes_all
          - not_includes
          - not_includes_all
        identifier:
          type: object
          description: Name of the Organization
          allOf:
          - $ref: '#/components/schemas/EntityIdentifier'
          x-cb-field-type: identifier
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - contains
          - eq
          - includes
          - not_contains
          - not_eq
          - not_includes
          - starts
        image_id:
          type: string
          description: The profile image of the organization on Crunchbase
          maxLength: 255
          x-cb-field-type: image_id
          x-cb-searchable: false
          x-cb-search-operators: []
        image_url:
          type: string
          description: The url of the profile image
          maxLength: 8192
          x-cb-field-type: text_blob
          x-cb-searchable: false
          x-cb-search-operators: []
        investor_identifiers:
          type: array
          description: The top 5 investors with investments in this company, ordered by Crunchbase Rank
          items:
            $ref: '#/components/schemas/EntityIdentifier'
          x-cb-field-type: identifier_multi
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - includes
          - includes_all
          - not_includes
          - not_includes_all
        investor_stage:
          type: array
          description: This describes the stage of investments made by this organization (e.g. Angel, Fund of Funds, Venture Capital)
          items:
            type: string
            description: 'This describes the stage of investments made by this organization (e.g. Angel, Fund of Funds, Venture Capital)

              * convertible_note - Convertible Note

              * crowdfunding - Crowdfunding

              * debt - Debt

              * early_stage_venture - Early Stage Venture

              * grant - Grant

              * initial_coin_offering - Initial Coin Offering

              * late_stage_venture - Late Stage Venture

              * non_equity_assistance - Non Equity Assistance

              * post_ipo - Post-Ipo

              * private_equity - Private Equity

              * secondary_market - Secondary Market

              * seed - Seed

              * venture - Venture'
            enum:
            - seed
            - early_stage_venture
            - late_stage_venture
            - venture
            - private_equity
            - crowdfunding
            - debt
            - grant
            - non_equity_assistance
            - convertible_note
            - secondary_market
            - post_ipo
            - initial_coin_offering
          x-cb-field-type: enum_multi
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - includes
          - includes_all
          - not_includes
          - not_includes_all
        investor_type:
          type: array
          description: This describes the type of investor this organization is (e.g. Angel, Fund of Funds, Venture Capital)
          items:
            type: string
            description: 'This describes the type of investor this organization is (e.g. Angel, Fund of Funds, Venture Capital)

              * accelerator - Accelerator

              * angel_group - Angel Group

              * co_working_space - Co-Working Space

              * corporate_venture_capital - Corporate Venture Capital

              * entrepreneurship_program - Entrepreneurship Program

              * family_investment_office - Family Investment Office

              * fund_of_funds - Fund Of Funds

              * government_office - Government Office

              * hedge_fund - Hedge Fund

              * incubator - Incubator

              * investment_bank - Investment Bank

              * micro_vc - Micro VC

              * pension_funds - Pension Funds

              * private_equity_firm - Private Equity Firm

              * secondary_purchaser - Secondary Purchaser

              * startup_competition - Startup Competition

              * syndicate - Syndicate

              * university_program - University Program

              * venture_capital - Venture Capital

              * venture_debt - Venture Debt'
            enum:
            - venture_capital
            - corporate_venture_capital
            - private_equity_firm
            - accelerator
            - micro_vc
            - angel_group
            - incubator
            - investment_bank
            - family_investment_office
            - venture_debt
            - co_working_space
            - fund_of_funds
            - hedge_fund
            - government_office
            - university_program
            - entrepreneurship_program
            - secondary_purchaser
            - startup_competition
            - syndicate
            - pension_funds
          x-cb-field-type: enum_multi
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - includes
          - includes_all
          - not_includes
          - not_includes_all
        ipo_status:
          type: string
          description: 'The current public status of the Organization

            * delisted - Delisted

            * private - Private

            * public - Public'
          enum:
          - public
          - delisted
          - private
          x-enum-descriptions:
          - Public
          - Delisted
          - Private
          x-cb-field-enum-values:
          - value: public
            description: Public
          - value: delisted
            description: Delisted
          - value: private
            description: Private
          x-cb-field-type: enum
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - eq
          - includes
          - not_eq
          - not_includes
        last_equity_funding_total:
          type: object
          description: Amount of most recent Funding Round excluding debt
          allOf:
          - $ref: '#/components/schemas/Money'
          x-cb-field-type: money
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        last_equity_funding_type:
          type: string
          description: 'The most recent Funding Round excluding debt

            * angel - Angel

            * convertible_note - Convertible Note

            * corporate_round - Corporate Round

            * debt_financing - Debt Financing

            * equity_crowdfunding - Equity Crowdfunding

            * grant - Grant

            * initial_coin_offering - Initial Coin Offering

            * non_equity_assistance - Non-equity Assistance

            * post_ipo_debt - Post-IPO Debt

            * post_ipo_equity - Post-IPO Equity

            * post_ipo_secondary - Post-IPO Secondary

            * pre_seed - Pre-Seed

            * private_equity - Private Equity

            * product_crowdfunding - Product Crowdfunding

            * secondary_market - Secondary Market

            * seed - Seed

            * series_a - Series A

            * series_b - Series B

            * series_c - Series C

            * series_d - Series D

            * series_e - Series E

            * series_f - Series F

            * series_g - Series G

            * series_h - Series H

            * series_i - Series I

            * series_j - Series J

            * series_unknown - Venture - Series Unknown

            * undisclosed - Undisclosed'
          enum:
          - pre_seed
          - seed
          - series_a
          - series_b
          - series_c
          - series_d
          - series_e
          - series_f
          - series_g
          - series_h
          - series_i
          - series_j
          - series_unknown
          - angel
          - private_equity
          - debt_financing
          - convertible_note
          - grant
          - corporate_round
          - equity_crowdfunding
          - product_crowdfunding
          - secondary_market
          - post_ipo_equity
          - post_ipo_debt
          - post_ipo_secondary
          - non_equity_assistance
          - initial_coin_offering
          - undisclosed
          x-enum-descriptions:
          - Pre-Seed
          - Seed
          - Series A
          - Series B
          - Series C
          - Series D
          - Series E
          - Series F
          - Series G
          - Series H
          - Series I
          - Series J
          - Venture - Series Unknown
          - Angel
          - Private Equity
          - Debt Financing
          - Convertible Note
          - Grant
          - Corporate Round
          - Equity Crowdfunding
          - Product Crowdfunding
          - Secondary Market
          - Post-IPO Equity
          - Post-IPO Debt
          - Post-IPO Secondary
          - Non-equity Assistance
          - Initial Coin Offering
          - Undisclosed
          x-cb-field-enum-values:
          - value: pre_seed
            description: Pre-Seed
          - value: seed
            description: Seed
          - value: series_a
            description: Series A
          - value: series_b
            description: Series B
          - value: series_c
            description: Series C
          - value: series_d
            description: Series D
          - value: series_e
            description: Series E
          - value: series_f
            description: Series F
          - value: series_g
            description: Series G
          - value: series_h
            description: Series H
          - value: series_i
            description: Series I
          - value: series_j
            description: Series J
          - value: series_unknown
            description: Venture - Series Unknown
          - value: angel
            description: Angel
          - value: private_equity
            description: Private Equity
          - value: debt_financing
            description: Debt Financing
          - value: convertible_note
            description: Convertible Note
          - value: grant
            description: Grant
          - value: corporate_round
            description: Corporate Round
          - value: equity_crowdfunding
            description: Equity Crowdfunding
          - value: product_crowdfunding
            description: Product Crowdfunding
          - value: secondary_market
            description: Secondary Market
          - value: post_ipo_equity
            description: Post-IPO Equity
          - value: post_ipo_debt
            description: Post-IPO Debt
          - value: post_ipo_secondary
            description: Post-IPO Secondary
          - value: non_equity_assistance
            description: Non-equity Assistance
          - value: initial_coin_offering
            description: Initial Coin Offering
          - value: undisclosed
            description: Undisclosed
          x-cb-field-type: enum
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - eq
          - includes
          - not_eq
          - not_includes
        last_funding_at:
          type: string
          description: Date of most recent Funding Round
          format: date
          x-cb-field-type: date
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gte
          - lte
        last_funding_total:
          type: object
          description: Amount of most recent Funding Round
          allOf:
          - $ref: '#/components/schemas/Money'
          x-cb-field-type: money
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        last_funding_type:
          type: string
          description: 'Last funding round type (e.g. Seed, Series A, Private Equity)

            * angel - Angel

            * convertible_note - Convertible Note

            * corporate_round - Corporate Round

            * debt_financing - Debt Financing

            * equity_crowdfunding - Equity Crowdfunding

            * grant - Grant

            * initial_coin_offering - Initial Coin Offering

            * non_equity_assistance - Non-equity Assistance

            * post_ipo_debt - Post-IPO Debt

            * post_ipo_equity - Post-IPO Equity

            * post_ipo_secondary - Post-IPO Secondary

            * pre_seed - Pre-Seed

            * private_equity - Private Equity

            * product_crowdfunding - Product Crowdfunding

            * secondary_market - Secondary Market

            * seed - Seed

            * series_a - Series A

            * series_b - Series B

            * series_c - Series C

            * series_d - Series D

            * series_e - Series E

            * series_f - Series F

            * series_g - Series G

            * series_h - Series H

            * series_i - Series I

            * series_j - Series J

            * series_unknown - Venture - Series Unknown

            * undisclosed - Undisclosed'
          enum:
          - pre_seed
          - seed
          - series_a
          - series_b
          - series_c
          - series_d
          - series_e
          - series_f
          - series_g
          - series_h
          - series_i
          - series_j
          - series_unknown
          - angel
          - private_equity
          - debt_financing
          - convertible_note
          - grant
          - corporate_round
          - equity_crowdfunding
          - product_crowdfunding
          - secondary_market
          - post_ipo_equity
          - post_ipo_debt
          - post_ipo_secondary
          - non_equity_assistance
          - initial_coin_offering
          - undisclosed
          x-enum-descriptions:
          - Pre-Seed
          - Seed
          - Series A
          - Series B
          - Series C
          - Series D
          - Series E
          - Series F
          - Series G
          - Series H
          - Series I
          - Series J
          - Venture - Series Unknown
          - Angel
          - Private Equity
          - Debt Financing
          - Convertible Note
          - Grant
          - Corporate Round
          - Equity Crowdfunding
          - Product Crowdfunding
          - Secondary Market
          - Post-IPO Equity
          - Post-IPO Debt
          - Post-IPO Secondary
          - Non-equity Assistance
          - Initial Coin Offering
          - Undisclosed
          x-cb-field-enum-values:
          - value: pre_seed
            description: Pre-Seed
          - value: seed
            description: Seed
          - value: series_a
            description: Series A
          - value: series_b
            description: Series B
          - value: series_c
            description: Series C
          - value: series_d
            description: Series D
          - value: series_e
            description: Series E
          - value: series_f
            description: Series F
          - value: series_g
            description: Series G
          - value: series_h
            description: Series H
          - value: series_i
            description: Series I
          - value: series_j
            description: Series J
          - value: series_unknown
            description: Venture - Series Unknown
          - value: angel
            description: Angel
          - value: private_equity
            description: Private Equity
          - value: debt_financing
            description: Debt Financing
          - value: convertible_note
            description: Convertible Note
          - value: grant
            description: Grant
          - value: corporate_round
            description: Corporate Round
          - value: equity_crowdfunding
            description: Equity Crowdfunding
          - value: product_crowdfunding
            description: Product Crowdfunding
          - value: secondary_market
            description: Secondary Market
          - value: post_ipo_equity
            description: Post-IPO Equity
          - value: post_ipo_debt
            description: Post-IPO Debt
          - value: post_ipo_secondary
            description: Post-IPO Secondary
          - value: non_equity_assistance
            description: Non-equity Assistance
          - value: initial_coin_offering
            description: Initial Coin Offering
          - value: undisclosed
            description: Undisclosed
          x-cb-field-type: enum
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - eq
          - includes
          - not_eq
          - not_includes
        layout_id:
          type: string
          description: 'This is the auto-generated layout for the profile

            * investor - Investor Layout

            * school - School Layout'
          enum:
          - school
          - investor
          x-enum-descriptions:
          - School Layout
          - Investor Layout
          x-cb-field-enum-values:
          - value: school
            description: School Layout
          - value: investor
            description: Investor Layout
          x-cb-field-type: enum
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - eq
          - includes
          - not_eq
          - not_includes
        legal_name:
          type: string
          description: The legal name of the organization
          maxLength: 255
          x-cb-field-type: text_short
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - contains
          - eq
          - not_contains
          - not_eq
          - starts
        linkedin:
          type: object
          description: Link to Organization's LinkedIn page
          allOf:
          - $ref: '#/components/schemas/Link'
          x-cb-field-type: link
          x-cb-searchable: false
          x-cb-search-operators: []
        listed_stock_symbol:
          type: string
          description: Stock ticker symbol (e.g. AAPL, FB, TWTR)
          maxLength: 8192
          x-cb-field-type: text_blob
          x-cb-searchable: false
          x-cb-search-operators: []
        location_group_identifiers:
          type: array
          description: Where the organization is headquartered (e.g. San Francisco Bay Area, Silicon Valley)
          items:
            $ref: '#/components/schemas/LocationIdentifier'
          x-cb-field-type: identifier_multi
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - includes
          - includes_all
          - not_includes
          - not_includes_all
        location_identifiers:
          type: array
          description: Where the organization is headquartered
          items:
            $ref: '#/components/schemas/LocationIdentifier'
          x-cb-field-type: identifier_multi
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - includes
          - includes_all
          - not_includes
          - not_includes_all
        name:
          type: string
          maxLength: 8192
          x-cb-field-type: text_blob
          x-cb-searchable: false
          x-cb-search-operators: []
        num_acquisitions:
          type: number
          description: Total number of Acquisitions
          x-cb-field-type: integer
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        num_alumni:
          type: number
          description: Total number of alumni
          x-cb-field-type: integer
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        num_articles:
          type: number
          description: Number of news articles that reference the Organization
          x-cb-field-type: integer
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        num_current_advisor_positions:
          type: number
          description: Total number of board member and advisor profiles an organization has on Crunchbase
          x-cb-field-type: integer
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        num_current_positions:
          type: number
          description: Total number of employee profiles an organization has on Crunchbase
          x-cb-field-type: integer
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        num_diversity_spotlight_investments:
          type: number
          description: Total number of diversity investments made by an investor
          x-cb-field-type: integer
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        num_employees_enum:
          type: string
          description: 'Total number of employees

            * c_00001_00010 - 1-10

            * c_00011_00050 - 11-50

            * c_00051_00100 - 51-100

            * c_00101_00250 - 101-250

            * c_00251_00500 - 251-500

            * c_00501_01000 - 501-1000

            * c_01001_05000 - 1001-5000

            * c_05001_10000 - 5001-10000

            * c_10001_max - 10001+'
          enum:
          - c_00001_00010
          - c_00011_00050
          - c_00051_00100
          - c_00101_00250
          - c_00251_00500
          - c_00501_01000
          - c_01001_05000
          - c_05001_10000
          - c_10001_max
          x-enum-descriptions:
          - 1-10
          - 11-50
          - 51-100
          - 101-250
          - 251-500
          - 501-1000
          - 1001-5000
          - 5001-10000
          - 10001+
          x-cb-field-enum-values:
          - value: c_00001_00010
            description: 1-10
          - value: c_00011_00050
            description: 11-50
          - value: c_00051_00100
            description: 51-100
          - value: c_00101_00250
            description: 101-250
          - value: c_00251_00500
            description: 251-500
          - value: c_00501_01000
            description: 501-1000
          - value: c_01001_05000
            description: 1001-5000
          - value: c_05001_10000
            description: 5001-10000
          - value: c_10001_max
            description: 10001+
          x-cb-field-type: enum
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - eq
          - includes
          - not_eq
          - not_includes
        num_enrollments:
          type: string
          description: 'Total number of Enrollments

            * c_00001_00010 - 1-10

            * c_00011_00050 - 11-50

            * c_00051_00100 - 51-100

            * c_00101_00250 - 101-250

            * c_00251_00500 - 251-500

            * c_00501_01000 - 501-1000

            * c_01001_05000 - 1001-5000

            * c_05001_10000 - 5001-10000

            * c_10001_max - 10001+'
          enum:
          - c_00001_00010
          - c_00011_00050
          - c_00051_00100
          - c_00101_00250
          - c_00251_00500
          - c_00501_01000
          - c_01001_05000
          - c_05001_10000
          - c_10001_max
          x-enum-descriptions:
          - 1-10
          - 11-50
          - 51-100
          - 101-250
          - 251-500
          - 501-1000
          - 1001-5000
          - 5001-10000
          - 10001+
          x-cb-field-enum-values:
          - value: c_00001_00010
            description: 1-10
          - value: c_00011_00050
            description: 11-50
          - value: c_00051_00100
            description: 51-100
          - value: c_00101_00250
            description: 101-250
          - value: c_00251_00500
            description: 251-500
          - value: c_00501_01000
            description: 501-1000
          - value: c_01001_05000
            description: 1001-5000
          - value: c_05001_10000
            description: 5001-10000
          - value: c_10001_max
            description: 10001+
          x-cb-field-type: enum
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - eq
          - includes
          - not_eq
          - not_includes
        num_event_appearances:
          type: number
          description: Total number of events an Organization appeared in
          x-cb-field-type: integer
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        num_exits:
          type: number
          description: Total number of Exits
          x-cb-field-type: integer
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        num_exits_ipo:
          type: number
          description: Total number of Exits (IPO)
          x-cb-field-type: integer
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        num_founder_alumni:
          type: number
          description: Total number of Alumni that are Founders
          x-cb-field-type: integer
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        num_founders:
          type: number
          description: Total number of Founders
          x-cb-field-type: integer
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        num_funding_rounds:
          type: number
          description: Total number of Funding Rounds
          x-cb-field-type: integer
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        num_funds:
          type: number
          description: Total number of Funds raised
          x-cb-field-type: integer
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        num_investments:
          type: number
          description: Total number of Investments made
          x-cb-field-type: integer
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        num_investors:
          type: number
          description: Total number of investment firms and individual investors
          x-cb-field-type: integer
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        num_lead_investments:
          type: number
          description: Total number of Lead Investments made
          x-cb-field-type: integer
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        num_lead_investors:
          type: number
          description: Total number of lead investment firms and individual investors
          x-cb-field-type: integer
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        num_past_positions:
          type: number
          description: Total number of past employee profiles of an organization
          x-cb-field-type: integer
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        num_portfolio_organizations:
          type: number
          description: Total number of portfolio organizations
          x-cb-field-type: integer
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        num_sub_organizations:
          type: number
          description: Total number of sub-organizations that belongs to a parent Organization
          x-cb-field-type: integer
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        operating_status:
          type: string
          description: 'Operating Status of Organization e.g. Active, Closed

            * active - Active

            * closed - Closed'
          enum:
          - active
          - closed
          x-enum-descriptions:
          - Active
          - Closed
          x-cb-field-enum-values:
          - value: active
            description: Active
          - value: closed
            description: Closed
          x-cb-field-type: enum
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - eq
          - includes
          - not_eq
          - not_includes
        owner_identifier:
          type: object
          description: This is the parent Organization of the sub-organization
          allOf:
          - $ref: '#/components/schemas/EntityIdentifier'
          x-cb-field-type: identifier
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - contains
          - eq
          - includes
          - not_contains
          - not_eq
          - not_includes
          - starts
        permalink:
          type: string
          maxLength: 255
          x-cb-field-type: permalink
          x-cb-searchable: false
          x-cb-search-operators: []
        permalink_aliases:
          type: array
          description: These are the alternative aliases to the primary permalink of the Organization
          items:
            type: string
            maxLength: 255
          x-cb-field-type: text_exact_multi
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - includes
          - includes_all
          - not_includes
          - not_includes_all
        phone_number:
          type: string
          description: Organization's general phone number
          maxLength: 255
          x-cb-field-type: text_exact
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - eq
          - includes
          - not_eq
          - not_includes
        program_application_deadline:
          type: string
          description: The deadline for applying to the Accelerator Program
          format: date
          x-cb-field-type: date
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gte
          - lte
        program_duration:
          type: number
          description: The duration of the Acceleration Program in number of weeks
          x-cb-field-type: integer
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        program_type:
          type: string
          description: 'The type of Accelerator Program (e.g. On-Site, Online)

            * on_site - On-Site

            * online - Online'
          enum:
          - on_site
          - online
          x-enum-descriptions:
          - On-Site
          - Online
          x-cb-field-enum-values:
          - value: on_site
            description: On-Site
          - value: online
            description: Online
          x-cb-field-type: enum
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - eq
          - includes
          - not_eq
          - not_includes
        rank:
          type: number
          description: Algorithmic rank assigned to the top profiles on Crunchbase
          x-cb-field-type: integer
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        rank_delta_d30:
          type: number
          description: Movement in Rank over the last 30 days using a score from -10 to 10
          format: double
          x-cb-field-type: decimal
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        rank_delta_d7:
          type: number
          description: Movement in Rank over the last 7 days using a score from -10 to 10
          format: double
          x-cb-field-type: decimal
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        rank_delta_d90:
          type: number
          description: Movement in Rank over the last 90 days using a score from -10 to 10
          format: double
          x-cb-field-type: decimal
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        rank_org:
          type: number
          description: Algorithmic rank assigned to the top 100,000 most active Organizations
          x-cb-field-type: integer
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        revenue_range:
          type: string
          description: 'Estimated revenue range for organization

            * r_00000000 - Less than $1M

            * r_00001000 - $1M to $10M

            * r_00010000 - $10M to $50M

            * r_00050000 - $50M to $100M

            * r_00100000 - $100M to $500M

            * r_00500000 - $500M to $1B

            * r_01000000 - $1B to $10B

            * r_10000000 - $10B+'
          enum:
          - r_00000000
          - r_00001000
          - r_00010000
          - r_00050000
          - r_00100000
          - r_00500000
          - r_01000000
          - r_10000000
          x-enum-descriptions:
          - Less than $1M
          - $1M to $10M
          - $10M to $50M
          - $50M to $100M
          - $100M to $500M
          - $500M to $1B
          - $1B to $10B
          - $10B+
          x-cb-field-enum-values:
          - value: r_00000000
            description: Less than $1M
          - value: r_00001000
            description: $1M to $10M
          - value: r_00010000
            description: $10M to $50M
          - value: r_00050000
            description: $50M to $100M
          - value: r_00100000
            description: $100M to $500M
          - value: r_00500000
            description: $500M to $1B
          - value: r_01000000
            description: $1B to $10B
          - value: r_10000000
            description: $10B+
          x-cb-field-type: enum
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - eq
          - includes
          - not_eq
          - not_includes
        school_method:
          type: string
          description: 'The type of School Method (e.g. On Campus, Online)

            * on_compus - On Campus

            * online - Online

            * online_and_on_campus - Online and On Campus'
          enum:
          - on_compus
          - online
          - online_and_on_campus
          x-enum-descriptions:
          - On Campus
          - Online
          - Online and On Campus
          x-cb-field-enum-values:
          - value: on_compus
            description: On Campus
          - value: online
            description: Online
          - value: online_and_on_campus
            description: Online and On Campus
          x-cb-field-type: enum
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - eq
          - includes
          - not_eq
          - not_includes
        school_program:
          type: string
          description: 'The type of School Program (e.g. Bootcamp, Four Year University)

            * bootcamp - Bootcamp

            * community_college - Community College

            * four_year_university - Four Year University

            * graduate_university - Graduate University

            * high_school - High School

            * trade_school - Trade School

            * two_year_university - Two Year University'
          enum:
          - four_year_university
          - two_year_university
          - graduate_university
          - bootcamp
          - trade_school
          - community_college
          - high_school
          x-enum-descriptions:
          - Four Year University
          - Two Year University
          - Graduate University
          - Bootcamp
          - Trade School
          - Community College
          - High School
          x-cb-field-enum-values:
          - value: four_year_university
            description: Four Year University
          - value: two_year_university
            description: Two Year University
          - value: graduate_university
            description: Graduate University
          - value: bootcamp
            description: Bootcamp
          - value: trade_school
            description: Trade School
          - value: community_college
            description: Community College
          - value: high_school
            description: High School
          x-cb-field-type: enum
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - eq
          - includes
          - not_eq
          - not_includes
        school_type:
          type: string
          description: 'The type of school

            * for_profit_private - Private

            * non_profit_private - Private (Non-Profit)

            * public - Public'
          enum:
          - public
          - for_profit_private
          - non_profit_private
          x-enum-descriptions:
          - Public
          - Private
          - Private (Non-Profit)
          x-cb-field-enum-values:
          - value: public
            description: Public
          - value: for_profit_private
            description: Private
          - value: non_profit_private
            description: Private (Non-Profit)
          x-cb-field-type: enum
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - eq
          - includes
          - not_eq
          - not_includes
        short_description:
          type: string
          description: Text of Organization Description, Industries, and Industry Groups
          maxLength: 8192
          x-cb-field-type: text_long
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - contains
          - not_contains
        status:
          type: string
          description: 'Status of Organization e.g. Operating, Closed, Acquired, IPO

            * closed - Closed

            * ipo - IPO

            * operating - Operating

            * was_acquired - Was Acquired'
          enum:
          - closed
          - ipo
          - operating
          - was_acquired
          x-enum-descriptions:
          - Closed
          - IPO
          - Operating
          - Was Acquired
          x-cb-field-enum-values:
          - value: closed
            description: Closed
          - value: ipo
            description: IPO
          - value: operating
            description: Operating
          - value: was_acquired
            description: Was Acquired
          x-cb-field-type: enum
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - eq
          - includes
          - not_eq
          - not_includes
        stock_exchange_symbol:
          type: string
          description: 'Stock exchange where the Organization is listed e.g. NYSE, NASDAQ

            * adx - ADX - Abu Dhabi Securities Exchange

            * afx - AFX - Afghanistan Stock Exchange

            * altx - ALTX - ALTX East Africa Exchange

            * amex - AMEX - American Stock Exchange

            * ams - AMS - Euronext Amsterdam

            * amx - AMX - Armenia Securities Exchange

            * asce - ASCE - Abuja Securities and Commodities Exchange

            * asx - ASX - Australian Securities Exchange

            * ath - ATH - Athens Stock Exchange

            * bcba - BCBA - Buenos Aires Stock Exchange

            * bdp - BDP - Budapest Stock Exchange

            * belex - BELEX - Belgrade Stock Exchange

            * ber - BER - Berliner Börse

            * bfb - BFB - Baku Stock Exchange

            * bit - BIT - Italian Stock Exchange

            * bkk - BKK - Thailand Stock Exchange

            * blse - BLSE - Banja Luka Stock Exchange

            * bme - BME - Madrid Stock Exchange

            * bmv - BMV - Mexican Stock Exchange

            * bom - BOM - Bombay Stock Exchange

            * brvm - BRVM - Regional Securities Exchange SA

            * bse - BSE - Bulgarian Stock Exchange

            * bse_lb - BSE - Beirut Stock Exchange

            * bsse - BSSE - Bratislava Stock Exchange

            * bsx - BSX - Bermuda Stock Exchange

            * bvb - BVB - Bucharest Stock Exchange

            * bvc - BVC - Colombian Stock Exchange

            * bvfb - BVFB - Belarusian Currency and Stock Exchange

            * bvm - BVM - Montevideo Stock Exchange

            * bvmf - B3 - Brazil Stock Exchange and OTC Market

            * bvmt - BVMT - Tunis Stock Exchange

            * bx - BX - Berne Stock Exchange

            * cas - CAS - Casablanca Stock Exchange

            * cise - CISE - Channel Islands Stock Exchange

            * cnsx - CNSX - Canadian National Stock Exchange

            * col - COL - Colombo Stock Exchange

            * cph - CPH - Copenhagen Stock Exchange

            * cse - CSE - Canadian Securities Exchange

            * cse_cy - CSE - Cyprus Stock Exchange

            * csx - CSX - Cambodia Securities Exchange

            * cve - TSX-V - Toronto TSX Venture Exchange

            * dfm - DFM - Dubai Financial Market

            * dse - DSE - Dhaka Stock Exchange

            * dsx - DSX - Douala Stock Exchange

            * dus - DUS - Börse Düsseldorf

            * ebr - EBR - Euronext Brussels

            * egx - EGX - Egypt Stock Exchange

            * eli - ELI - Euronext Lisbon

            * epa - EPA - Euronext Paris

            * etr - ETR - Deutsche Börse XETRA

            * eurex - EUREX - Eurex Exchange

            * fra - FRA - Frankfurt Stock Exchange

            * fwb - FWB - Börse Frankfurt Stock Exchange

            * gha - GHA - Ghana Stock Exchange

            * gsx - GSX - Georgian Stock Exchange

            * gsx_gi - GSX - Gibraltar Stock Exchange

            * hel - HEL - Helsinki Stock Exchange

            * hkg - HKG - Hong Kong Stock Exchange

            * hnx - HNX - Hanoi Stock Exchange

            * hose - HOSE - Ho Chi Minh Stock Exchange

            * ice - ICE - Iceland Stock Exchange

            * idx - IDX - Indonesia Stock Exchange

            * iex - IEX - Investors Exchange

            * ifb - IFB - Iran Fara Bourse

            * ime - IME - Iran Mercantile Exchange

            * irenex - IRENEX - Iran Energy Exchange

            * ise - ISE - Irish Stock Exchange

            * ist - IST - Istanbul Stock Exchange

            * isx - ISX - Iraq Stock Exchange

            * jp - JP - Japan Exchange

            * jsc - JSC - Belarusian Currency and Stock Exchange

            * jse - JSE - Johannesburg Stock Exchange

            * jse_jam - JSE - Jamaica Stock Exchange

            * kase - KASE - Kazakhstan Stock Exchange

            * klse - KLSE - Malaysia Stock Exchange

            * kosdaq - KOSDAQ - Korean Securities Dealers Automated Quotations

            * krx - KRX - Korea Stock Exchange

            * kse - KSE - Kuwait Stock Exchange

            * lje - LJE - Ljubljana Stock Exchange

            * lse - LSE - London Stock Exchange

            * lsm - LSM - Libyan Stock Market

            * lsx - LSX - Lao Securities Exchange

            * luse - LuSE - Lusaka Securities Exchange

            * luxse - LuxSE - Luxembourg Stock Exchange

            * mal - MAL - Malta Stock Exchange

            * mcx - MCX - Multi Commodity Exchange of India

            * meff - MEFF - Mercado Spanish Financial Futures Market

            * mnse - MNSE - Montenegro Stock Exchange

            * moex - MOEX - Moscow Exchange

            * mse - MSE - Metropolitan Stock Exchange

            * mse_md - MSE - Moldova Stock Exchange

            * mse_mk - MSE - Macedonian Stock Exchange

            * msei - MSEI - Metropolitan Stock Exchange of India

            * msm - MSM - Muscat Securities Market

            * mun - MUN - Börse München

            * nasdaq - NASDAQ

            * nbo - NSE - Nairobi Securities Exchange

            * neeq - NEEQ - National Equities Exchange and Quotations

            * nepse - NEPSE - Nepal Stock Exchange

            * nex - NEX - NEX Exchange

            * ngm - NGM - Nordic Growth Market Exchange

            * nig - NIG - Nigerian Stock Exchange

            * notc - NOTC - Norwegian OTC

            * npex - NPEX - NPEX Stock Exchange

            * nse - NSE - National Stock Exchange of India

            * nsx - NSX - National Stock Exchange of Australia

            * nyse - NYSE - New York Stock Exchange

            * nysearca - NYSEARCA - NYSE Arca

            * nysemkt - NYSEAMERICAN - NYSE American

            * nze - NZE - New Zealand Stock Exchange

            * ose - OSE - Oslo Stock Exchange

            * otcbb - OTCBB - FINRA OTC Bulletin Board

            * otcpink - OTC Pink

            * otcqb - OTCQB

            * otcqx - OTCQX

            * pdex - PDEx - Philippine Dealing Exchange

            * pex - PEX - Palestine Exchange

            * pfts - PFTS - PFTS Ukraine Stock Exchange

            * pomsox - POMSoX - Port Moresby Stock Exchange

            * prg - PRA - Prague Stock Exchange

            * pse - PSE - Philippine Stock Exchange

            * psx - PSX - Pakistan Stock Exchange

            * qse - QSE - Qatar Stock Exchange

            * rfb - RFB - Riga Stock Exchange

            * rse - RSE - Rwanda Stock Exchange

            * rsebl - RSEBL - Royal Securities Exchange of Bhutan

            * sase - SASE - Sarajevo Stock Exchange

            * sbx - SBX - BX Swiss

            * sehk - SEHK - The Stock Exchange of Hong Kong

            * sem - SEM - Stock Exchange of Mauritius

            * sgbv - SGBV - Algiers Stock Exchange

            * sgx - SGX - Singapore Stock Exchange

            * six - SIX - SIX Swiss Exchange

            * spbex - SPBEX - Saint Petersburg Stock Exchange

            * spse - SPSE - South Pacific Stock Exchange

            * sse - SSE - Shanghai Stock Exchange

            * ssx - SSX - Sydney Stock Exchange

            * sto - STO - Stockholm Stock Exchange

            * stu - STU - Börse Stuttgart

            * swx - SWX - SIX Swiss Exchange

            * szse - SZSE - Shenzhen Stock Exchange

            * tadawul - Tadawul - Saudi Stock Exchange

            * tal - TSE - Tallinn Stock Exchange

            * tfex - TFEX - Thailand Futures Exchange

            * tise - TISE - The International Stock Exchange

            * tlv - TLV - Tel Aviv Stock Exchange

            * tpe - TWSE - Taiwan Stock Exchange

            * tse_al - TSE - Tirana Stock Exchange

            * tse_ir - TSE - Tehran Stock Exchange

            * tsec - TWO - Taiwan OTC Exchange

            * tsx - TSX - Toronto Stock Exchange

            * ttse - TTSE - Trinidad and Tobago Stock Exchange

            * tyo - TYO - Tokyo Stock Exchange

            * use - USE - Uganda Securities Exchange

            * ux - UX - Ukrainian Exchange

            * vie - VIE - Vienna Stock Exchange

            * vmf - VMF - Faroese Securities Market

            * vse - VSE - Vancouver Stock Exchange

            * wse - WSE - Warsaw Stock Exchange

            * ysx - YSX - Yangon Stock Exchange

            * zamace - ZAMACE - Zambian Commodity Exchange

            * zse - ZSE - Zimbabwe Stock Exchange

            * zse_hr - ZSE - Zagreb Stock Exchange'
          enum:
          - adx
          - afx
          - altx
          - amx
          - amex
          - ams
          - asce
          - asx
          - ath
          - bcba
          - bdp
          - belex
          - ber
          - bfb
          - bit
          - bkk
          - blse
          - bme
          - bmv
[...]
