openapi: 3.0.3
info:
  title: Crunchbase Data API v4 Autocomplete API
  description: 'The Crunchbase Data API (REST v4) provides programmatic access to Crunchbase''s graph of company, funding, investor, and people data - organizations, people, funding rounds, acquisitions, investments, events, and more. It is a read-only RESTful service with four logical surfaces: Entity Lookup (retrieve a single entity and its related "cards"), Search (query a collection with field filters and keyset pagination), Autocomplete (resolve a query string to entity identifiers), and Deleted Entities / Deltas (detect entities removed from the Crunchbase Graph so downstream databases can be reconciled). Access is subscription-gated: the full API requires a Crunchbase Enterprise or Applications license, while a reduced Basic API is available to Crunchbase Basic plan holders. All requests must be made over HTTPS (non-HTTPS calls return 426) and are authenticated with an API key passed either as the `user_key` query parameter or the `X-cb-user-key` header.

    Endpoint paths, HTTP methods, authentication, and rate limits below are grounded in the public Crunchbase developer documentation (data.crunchbase.com/docs). Because live responses are license-gated, request and response object schemas are honestly modeled from the documentation rather than captured from live calls; see x-endpoints-modeled.'
  version: '4.0'
  contact:
    name: Crunchbase
    url: https://about.crunchbase.com/products/crunchbase-api/
  x-endpoints-modeled: Endpoint paths, methods, auth, and rate limits are confirmed from public docs. Detailed field-level request/response schemas are modeled from the documentation because live API responses require a paid Enterprise or Applications license.
servers:
- url: https://api.crunchbase.com/v4/data
  description: Crunchbase Data API v4 (production)
security:
- userKeyQuery: []
- userKeyHeader: []
tags:
- name: Autocomplete
  description: Resolve a query string to matching entity identifiers.
paths:
  /autocompletes:
    get:
      operationId: autocomplete
      tags:
      - Autocomplete
      summary: Autocomplete entities
      description: Suggests matching entities for a query string, optionally scoped to one or more collections (e.g. organization.companies, principal.investors, categories). Commonly used to resolve UUIDs or permalinks for downstream Search or Entity Lookup calls.
      parameters:
      - name: query
        in: query
        required: true
        description: The search string to autocomplete.
        schema:
          type: string
      - name: collection_ids
        in: query
        required: false
        description: Comma-separated list of collection ids to scope suggestions to (e.g. organization.companies, principal.investors, categories).
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Number of results to return (maximum 25).
        schema:
          type: integer
          default: 10
          maximum: 25
      responses:
        '200':
          description: A list of suggested entity identifiers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  responses:
    TooManyRequests:
      description: Rate limit exceeded (200 calls per minute).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing, invalid, or unlicensed API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    AutocompleteResponse:
      type: object
      properties:
        count:
          type: integer
        entities:
          type: array
          items:
            type: object
            properties:
              identifier:
                $ref: '#/components/schemas/Identifier'
              short_description:
                type: string
    Identifier:
      type: object
      description: A lightweight reference to a Crunchbase entity.
      properties:
        uuid:
          type: string
          format: uuid
        value:
          type: string
          description: Human-readable name of the entity.
        permalink:
          type: string
        entity_def_id:
          type: string
          description: The collection/entity type (e.g. organization, person, funding_round).
        image_id:
          type: string
    Error:
      type: object
      properties:
        error:
          type: string
        code:
          type: integer
        message:
          type: string
  securitySchemes:
    userKeyQuery:
      type: apiKey
      in: query
      name: user_key
      description: API key passed as the user_key query parameter.
    userKeyHeader:
      type: apiKey
      in: header
      name: X-cb-user-key
      description: API key passed as the X-cb-user-key request header.
