openapi: 3.2.0
info:
  title: Predictions & Insights Package Autocomplete API
  description: Crunchbase API, 2026-08-13
  termsOfService: https://data.crunchbase.com/docs/terms
  contact:
    email: partnerships@crunchbase.com
  version: 1.1.0
servers:
- url: https://api.crunchbase.com/v4
security:
- ApiKeyAuthHeader: []
tags:
- name: Autocomplete
paths:
  /data/autocompletes:
    get:
      tags:
      - Autocomplete
      summary: Suggests matching Identifier entities based on the query and entity_def_ids…
      operationId: autocompletes
      parameters:
      - name: query
        in: query
        description: Value to perform the autocomplete search with.
        required: true
        schema:
          title: query
          type: string
      - name: collection_ids
        in: query
        description: "A comma separated list of collection ids to search against. Leaving this blank means it will search across all identifiers. \n\n Entity defs can be constrained to specific facets by providing them as facet collections. Relationship collections will resolve to their underlying entity def."
        style: form
        explode: false
        schema:
          title: collection_ids
          type: array
          items:
            type: string
            enum:
            - acquisition_predictions
            - acquisitions
            - addresses
            - awards
            - categories
            - category_groups
            - closure_predictions
            - current_valuation_estimates
            - degrees
            - diversity_spotlights
            - event_appearances
            - events
            - funding_predictions
            - funding_rounds
            - funds
            - growth_insights
            - growth_predictions
            - investments
            - investor_insights
            - investor_matches
            - ipo_predictions
            - ipos
            - jobs
            - key_employee_changes
            - layoff_predictions
            - layoffs
            - legal_proceedings
            - locations
            - market_insight_reasons
            - market_insights
            - micro_categories
            - org_similarities
            - organizations
            - ownerships
            - partnership_announcements
            - people
            - press_references
            - principals
            - product_launches
            - product_similarities
            - products
            - remain_private_predictions
            - research_insights
      - name: limit
        in: query
        description: Number of results to retrieve; default = 10, max = 25
        schema:
          title: limit
          type: integer
      responses:
        '200':
          $ref: '#/components/responses/AutocompleteResult'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
components:
  responses:
    AutocompleteResult:
      description: Results are identifiers matching the search query.
      content:
        application/json:
          schema:
            type: object
            required:
            - entities
            properties:
              entities:
                type: array
                items:
                  type: object
                  required:
                  - identifier
                  properties:
                    facet_ids:
                      type: array
                      items:
                        type: string
                    identifier:
                      $ref: '#/components/schemas/EntityIdentifier'
                    short_description:
                      type: string
    GenericInternalServerError:
      description: Request Failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    GenericBadRequestError:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
  schemas:
    Errors:
      type: object
      description: Developer friendly error message
      properties:
        value:
          type: string
          description: stuff
    EntityIdentifier:
      type: object
      description: Every entity in the system has a unique identifier that contains all necessary properties to represent it.
      required:
      - entity_def_id
      - uuid
      properties:
        entity_def_id:
          type: string
          enum:
          - acquisition
          - acquisition_prediction
          - address
          - award
          - category
          - category_group
          - market_insight
          - market_insight_reason
          - closure_prediction
          - current_valuation_estimate
          - degree
          - diversity_spotlight
          - event
          - event_appearance
          - fund
          - funding_prediction
          - funding_round
          - growth_insight
          - growth_prediction
          - investment
          - investor_insight
          - investor_match
          - ipo
          - ipo_prediction
          - job
          - key_employee_change
          - layoff
          - layoff_prediction
          - legal_proceeding
          - location
          - micro_category
          - remain_private_prediction
          - organization
          - org_similarity
          - product_similarity
          - ownership
          - partnership_announcement
          - person
          - press_reference
          - product
          - product_launch
          - research_insight
        image_id:
          type: string
          maxLength: 255
        permalink:
          type: string
          maxLength: 255
        uuid:
          type: string
          description: Universally Unique Identifier
          format: uuid
        value:
          type: string
          maxLength: 255
  securitySchemes:
    ApiKeyAuthHeader:
      type: apiKey
      name: X-cb-user-key
      in: header
externalDocs:
  description: API Reference doc
  url: https://data.crunchbase.com/docs
