openapi: 3.2.0
info:
  title: Crunchbase Data Entity API
  version: 1.1.0
  contact:
    email: partnerships@crunchbase.com
  termsOfService: https://data.crunchbase.com/docs/terms
  description: 'Operations tagged Entity across 6 of this provider''s published API definitions: crunchbase-data-advanced-financials-openapi.yml, crunchbase-data-core-financials-openapi.yml, crunchbase-data-firmographic-openapi.yml, crunchbase-data-insights-openapi.yml, crunchbase-data-predictions-insights-openapi.yml, crunchbase-data-predictions-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.crunchbase.com/v4
security:
- ApiKeyAuthHeader: []
tags:
- name: Entity
paths:
  /data/entities/organizations/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup an Organization
      operationId: getOrganization
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/OrganizationFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - acquiree_acquisitions
            - acquirer_acquisitions
            - child_organizations
            - child_ownerships
            - event_appearances
            - fields
            - founders
            - headquarters_address
            - investors
            - ipos
            - jobs
            - parent_organization
            - parent_ownership
            - participated_funding_rounds
            - participated_funds
            - participated_investments
            - press_references
            - raised_funding_rounds
            - raised_funds
            - raised_investments
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupOrganizationResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/organizations/{entity_id}/cards/{card_id}:
    get:
      tags:
      - Entity
      summary: Lookup Organization's single card
      description: 'The following cards are available: [acquiree_acquisitions, acquirer_acquisitions, child_organizations, child_ownerships, event_appearances, founders, headquarters_address, investors, ipos, jobs, parent_organization, parent_ownership, participated_funding_rounds, participated_funds, participated_investments, press_references, raised_funding_rounds, raised_funds, raised_investments]'
      operationId: getOrganizationCard
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: card_id
        in: path
        description: An organization card to lookup
        required: true
        style: simple
        explode: false
        schema:
          title: card_id
          type: string
          enum:
          - acquiree_acquisitions
          - acquirer_acquisitions
          - child_organizations
          - child_ownerships
          - event_appearances
          - founders
          - headquarters_address
          - investors
          - ipos
          - jobs
          - parent_organization
          - parent_ownership
          - participated_funding_rounds
          - participated_funds
          - participated_investments
          - press_references
          - raised_funding_rounds
          - raised_funds
          - raised_investments
      - $ref: '#/components/parameters/card_field_ids'
      - $ref: '#/components/parameters/after_id'
      - $ref: '#/components/parameters/before_id'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/OrganizationCardLookupResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/people/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a Person
      operationId: getPerson
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/PersonFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - degrees
            - event_appearances
            - fields
            - founded_organizations
            - jobs
            - participated_funding_rounds
            - participated_funds
            - participated_investments
            - partner_funding_rounds
            - partner_investments
            - press_references
            - primary_job
            - primary_organization
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupPersonResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/people/{entity_id}/cards/{card_id}:
    get:
      tags:
      - Entity
      summary: Lookup Person's single card
      description: 'The following cards are available: [degrees, event_appearances, founded_organizations, jobs, participated_funding_rounds, participated_funds, participated_investments, partner_funding_rounds, partner_investments, press_references, primary_job, primary_organization]'
      operationId: getPersonCard
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: card_id
        in: path
        description: A person card to lookup
        required: true
        style: simple
        explode: false
        schema:
          title: card_id
          type: string
          enum:
          - degrees
          - event_appearances
          - founded_organizations
          - jobs
          - participated_funding_rounds
          - participated_funds
          - participated_investments
          - partner_funding_rounds
          - partner_investments
          - press_references
          - primary_job
          - primary_organization
      - $ref: '#/components/parameters/card_field_ids'
      - $ref: '#/components/parameters/after_id'
      - $ref: '#/components/parameters/before_id'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/PersonCardLookupResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/funding_rounds/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a FundingRound
      operationId: getFundingRound
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/FundingRoundFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
            - investments
            - investors
            - lead_investors
            - organization
            - partners
            - press_references
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupFundingRoundResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/funding_rounds/{entity_id}/cards/{card_id}:
    get:
      tags:
      - Entity
      summary: Lookup FundingRound's single card
      description: 'The following cards are available: [investments, investors, lead_investors, organization, partners, press_references]'
      operationId: getFundingRoundCard
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: card_id
        in: path
        description: A funding_round card to lookup
        required: true
        style: simple
        explode: false
        schema:
          title: card_id
          type: string
          enum:
          - investments
          - investors
          - lead_investors
          - organization
          - partners
          - press_references
      - $ref: '#/components/parameters/card_field_ids'
      - $ref: '#/components/parameters/after_id'
      - $ref: '#/components/parameters/before_id'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/FundingRoundCardLookupResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/acquisitions/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup an Acquisition
      operationId: getAcquisition
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/AcquisitionFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - acquiree_organization
            - acquirer_organization
            - fields
            - press_references
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupAcquisitionResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/acquisitions/{entity_id}/cards/{card_id}:
    get:
      tags:
      - Entity
      summary: Lookup Acquisition's single card
      description: 'The following cards are available: [acquiree_organization, acquirer_organization, press_references]'
      operationId: getAcquisitionCard
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: card_id
        in: path
        description: An acquisition card to lookup
        required: true
        style: simple
        explode: false
        schema:
          title: card_id
          type: string
          enum:
          - acquiree_organization
          - acquirer_organization
          - press_references
      - $ref: '#/components/parameters/card_field_ids'
      - $ref: '#/components/parameters/after_id'
      - $ref: '#/components/parameters/before_id'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/AcquisitionCardLookupResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/investments/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup an Investment
      operationId: getInvestment
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/InvestmentFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
            - funding_round
            - investor
            - organization
            - partner
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupInvestmentResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/investments/{entity_id}/cards/{card_id}:
    get:
      tags:
      - Entity
      summary: Lookup Investment's single card
      description: 'The following cards are available: [funding_round, investor, organization, partner]'
      operationId: getInvestmentCard
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: card_id
        in: path
        description: An investment card to lookup
        required: true
        style: simple
        explode: false
        schema:
          title: card_id
          type: string
          enum:
          - funding_round
          - investor
          - organization
          - partner
      - $ref: '#/components/parameters/card_field_ids'
      - $ref: '#/components/parameters/after_id'
      - $ref: '#/components/parameters/before_id'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/InvestmentCardLookupResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/events/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup an Event
      operationId: getEvent
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/EventFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - address
            - appearances
            - contestants
            - exhibitors
            - fields
            - organizers
            - press_references
            - speakers
            - sponsors
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupEventResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/events/{entity_id}/cards/{card_id}:
    get:
      tags:
      - Entity
      summary: Lookup Event's single card
      description: 'The following cards are available: [address, appearances, contestants, exhibitors, organizers, press_references, speakers, sponsors]'
      operationId: getEventCard
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: card_id
        in: path
        description: An event card to lookup
        required: true
        style: simple
        explode: false
        schema:
          title: card_id
          type: string
          enum:
          - address
          - appearances
          - contestants
          - exhibitors
          - organizers
          - press_references
          - speakers
          - sponsors
      - $ref: '#/components/parameters/card_field_ids'
      - $ref: '#/components/parameters/after_id'
      - $ref: '#/components/parameters/before_id'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/EventCardLookupResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/press_references/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a PressReference
      operationId: getPressReference
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/PressReferenceFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupPressReferenceResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/funds/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a Fund
      operationId: getFund
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/FundFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
            - investors
            - owner
            - press_references
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupFundResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/funds/{entity_id}/cards/{card_id}:
    get:
      tags:
      - Entity
      summary: Lookup Fund's single card
      description: 'The following cards are available: [investors, owner, press_references]'
      operationId: getFundCard
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: card_id
        in: path
        description: A fund card to lookup
        required: true
        style: simple
        explode: false
        schema:
          title: card_id
          type: string
          enum:
          - investors
          - owner
          - press_references
      - $ref: '#/components/parameters/card_field_ids'
      - $ref: '#/components/parameters/after_id'
      - $ref: '#/components/parameters/before_id'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/FundCardLookupResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/event_appearances/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup an EventAppearance
      operationId: getEventAppearance
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/EventAppearanceFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - event
            - fields
            - participant
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupEventAppearanceResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/event_appearances/{entity_id}/cards/{card_id}:
    get:
      tags:
      - Entity
      summary: Lookup EventAppearance's single card
      description: 'The following cards are available: [event, participant]'
      operationId: getEventAppearanceCard
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: card_id
        in: path
        description: An event_appearance card to lookup
        required: true
        style: simple
        explode: false
        schema:
          title: card_id
          type: string
          enum:
          - event
          - participant
      - $ref: '#/components/parameters/card_field_ids'
      - $ref: '#/components/parameters/after_id'
      - $ref: '#/components/parameters/before_id'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/EventAppearanceCardLookupResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/ipos/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup an Ipo
      operationId: getIpo
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/IpoFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
            - organization
            - press_references
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupIpoResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/ipos/{entity_id}/cards/{card_id}:
    get:
      tags:
      - Entity
      summary: Lookup Ipo's single card
      description: 'The following cards are available: [organization, press_references]'
      operationId: getIpoCard
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: card_id
        in: path
        description: An ipo card to lookup
        required: true
        style: simple
        explode: false
        schema:
          title: card_id
          type: string
          enum:
          - organization
          - press_references
      - $ref: '#/components/parameters/card_field_ids'
      - $ref: '#/components/parameters/after_id'
      - $ref: '#/components/parameters/before_id'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/IpoCardLookupResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/ownerships/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup an Ownership
      operationId: getOwnership
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/OwnershipFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - child_organization
            - fields
            - parent_organization
            - press_references
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupOwnershipResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/ownerships/{entity_id}/cards/{card_id}:
    get:
      tags:
      - Entity
      summary: Lookup Ownership's single card
      description: 'The following cards are available: [child_organization, parent_organization, press_references]'
      operationId: getOwnershipCard
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: card_id
        in: path
        description: An ownership card to lookup
        required: true
        style: simple
        explode: false
        schema:
          title: card_id
          type: string
          enum:
          - child_organization
          - parent_organization
          - press_references
      - $ref: '#/components/parameters/card_field_ids'
      - $ref: '#/components/parameters/after_id'
      - $ref: '#/components/parameters/before_id'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/OwnershipCardLookupResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/categories/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a Category
      operationId: getCategory
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/CategoryFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupCategoryResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/category_groups/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a CategoryGroup
      operationId: getCategoryGroup
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/CategoryGroupFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupCategoryGroupResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/locations/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a Location
      operationId: getLocation
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/LocationFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupLocationResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/jobs/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a Job
      operationId: getJob
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/JobFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
            - organization
            - person
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupJobResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/jobs/{entity_id}/cards/{card_id}:
    get:
      tags:
      - Entity
      summary: Lookup Job's single card
      description: 'The following cards are available: [organization, person]'
      operationId: getJobCard
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: card_id
        in: path
        description: A job card to lookup
        required: true
        style: simple
        explode: false
        schema:
          title: card_id
          type: string
          enum:
          - organization
          - person
      - $ref: '#/components/parameters/card_field_ids'
      - $ref: '#/components/parameters/after_id'
      - $ref: '#/components/parameters/before_id'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/JobCardLookupResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/addresses/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup an Address
      operationId: getAddress
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/AddressFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - event
            - fields
            - organization
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupAddressResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/addresses/{entity_id}/cards/{card_id}:
    get:
      tags:
      - Entity
      summary: Lookup Address's single card
      description: 'The following cards are available: [event, organization]'
      operationId: getAddressCard
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: card_id
        in: path
        description: An address card to lookup
        required: true
        style: simple
        explode: false
        schema:
          title: card_id
          type: string
          enum:
          - event
          - organization
      - $ref: '#/components/parameters/card_field_ids'
      - $ref: '#/components/parameters/after_id'
      - $ref: '#/components/parameters/before_id'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/AddressCardLookupResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/degrees/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a Degree
      operationId: getDegree
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/DegreeFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
            - organization
            - person
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupDegreeResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/degrees/{entity_id}/cards/{card_id}:
    get:
      tags:
      - Entity
      summary: Lookup Degree's single card
      description: 'The following cards are available: [organization, person]'
      operationId: getDegreeCard
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: card_id
        in: path
        description: A degree card to lookup
        required: true
        style: simple
        explode: false
        schema:
          title: card_id
          type: string
          enum:
          - organization
          - person
      - $ref: '#/components/parameters/card_field_ids'
      - $ref: '#/components/parameters/after_id'
      - $ref: '#/components/parameters/before_id'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/DegreeCardLookupResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/diversity_spotlights/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a DiversitySpotlight
      operationId: getDiversitySpotlight
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/DiversitySpotlightFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupDiversitySpotlightResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/principals/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a Principal
      operationId: getPrincipal
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/PrincipalFieldId'
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupPrincipalResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/categories/{entity_id}/cards/{card_id}:
    get:
      tags:
      - Entity
      summary: Lookup Category's single card
      description: 'The following cards are available: [market_insights]'
      operationId: getCategoryCard
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: card_id
        in: path
        description: A category card to lookup
        required: true
        style: simple
        explode: false
        schema:
          title: card_id
          type: string
          enum:
          - market_insights
      - $ref: '#/components/parameters/card_field_ids'
      - $ref: '#/components/parameters/after_id'
      - $ref: '#/components/parameters/before_id'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/CategoryCardLookupResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/category_groups/{entity_id}/cards/{card_id}:
    get:
      tags:
      - Entity
      summary: Lookup CategoryGroup's single card
      description: 'The following cards are available: [market_insights]'
      operationId: getCategoryGroupCard
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: card_id
        in: path
        description: A category_group card to lookup
        required: true
        style: simple
        explode: false
        schema:
          title: card_id
          type: string
          enum:
          - market_insights
      - $ref: '#/components/parameters/card_field_ids'
      - $ref: '#/components/parameters/after_id'
      - $ref: '#/components/parameters/before_id'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/CategoryGroupCardLookupResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/key_employee_changes/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a KeyEmployeeChange
      operationId: getKeyEmployeeChange
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/KeyEmployeeChangeFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupKeyEmployeeChangeResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/layoffs/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a Layoff
      operationId: getLayoff
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/LayoffFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupLayoffResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/awards/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup an Award
      operationId: getAward
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/AwardFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupAwardResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/current_valuation_estimates/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a CurrentValuationEstimate
      operationId: getCurrentValuationEstimate
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/CurrentValuationEstimateFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupCurrentValuationEstimateResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/growth_insights/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a GrowthInsight
      operationId: getGrowthInsight
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/GrowthInsightFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupGrowthInsightResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/investor_insights/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup an InvestorInsight
      operationId: getInvestorInsight
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/InvestorInsightFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupInvestorInsightResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/investor_matches/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup an InvestorMatch
      operationId: getInvestorMatch
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/InvestorMatchFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupInvestorMatchResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/legal_proceedings/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a LegalProceeding
      operationId: getLegalProceeding
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/LegalProceedingFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupLegalProceedingResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/market_insights/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a MarketInsight
      operationId: getMarketInsight
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/MarketInsightFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
            - market_insight_reasons
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupMarketInsightResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/market_insights/{entity_id}/cards/{card_id}:
    get:
      tags:
      - Entity
      summary: Lookup MarketInsight's single card
      description: 'The following cards are available: [market_insight_reasons]'
      operationId: getMarketInsightCard
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: card_id
        in: path
        description: A market_insight card to lookup
        required: true
        style: simple
        explode: false
        schema:
          title: card_id
          type: string
          enum:
          - market_insight_reasons
      - $ref: '#/components/parameters/card_field_ids'
      - $ref: '#/components/parameters/after_id'
      - $ref: '#/components/parameters/before_id'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/MarketInsightCardLookupResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/market_insight_reasons/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a MarketInsightReason
      operationId: getMarketInsightReason
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/MarketInsightReasonFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupMarketInsightReasonResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/micro_categories/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a MicroCategory
      operationId: getMicroCategory
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/MicroCategoryFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
            - market_insights
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupMicroCategoryResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/micro_categories/{entity_id}/cards/{card_id}:
    get:
      tags:
      - Entity
      summary: Lookup MicroCategory's single card
      description: 'The following cards are available: [market_insights]'
      operationId: getMicroCategoryCard
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: card_id
        in: path
        description: A micro_category card to lookup
        required: true
        style: simple
        explode: false
        schema:
          title: card_id
          type: string
          enum:
          - market_insights
      - $ref: '#/components/parameters/card_field_ids'
      - $ref: '#/components/parameters/after_id'
      - $ref: '#/components/parameters/before_id'
      - $ref: '#/components/parameters/order'
      - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/MicroCategoryCardLookupResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/org_similarities/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup an OrgSimilarity
      operationId: getOrgSimilarity
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/OrgSimilarityFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupOrgSimilarityResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/partnership_announcements/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a PartnershipAnnouncement
      operationId: getPartnershipAnnouncement
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/PartnershipAnnouncementFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupPartnershipAnnouncementResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/products/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a Product
      operationId: getProduct
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/ProductFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupProductResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/product_launches/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a ProductLaunch
      operationId: getProductLaunch
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/ProductLaunchFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupProductLaunchResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/product_similarities/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a ProductSimilarity
      operationId: getProductSimilarity
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/ProductSimilarityFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupProductSimilarityResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/research_insights/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a ResearchInsight
      operationId: getResearchInsight
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/ResearchInsightFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupResearchInsightResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/acquisition_predictions/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup an AcquisitionPrediction
      operationId: getAcquisitionPrediction
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/AcquisitionPredictionFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupAcquisitionPredictionResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/closure_predictions/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a ClosurePrediction
      operationId: getClosurePrediction
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/ClosurePredictionFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupClosurePredictionResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/funding_predictions/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a FundingPrediction
      operationId: getFundingPrediction
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/FundingPredictionFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupFundingPredictionResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/growth_predictions/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a GrowthPrediction
      operationId: getGrowthPrediction
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/GrowthPredictionFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupGrowthPredictionResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/ipo_predictions/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup an IpoPrediction
      operationId: getIpoPrediction
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/IpoPredictionFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupIpoPredictionResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/layoff_predictions/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a LayoffPrediction
      operationId: getLayoffPrediction
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/LayoffPredictionFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupLayoffPredictionResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
  /data/entities/remain_private_predictions/{entity_id}:
    get:
      tags:
      - Entity
      summary: Lookup a RemainPrivatePrediction
      operationId: getRemainPrivatePrediction
      parameters:
      - $ref: '#/components/parameters/entity_id'
      - name: field_ids
        in: query
        description: Fields to include on the resulting entity - either an array of field_id strings in JSON or a comma-separated list encoded as string
        style: form
        explode: false
        schema:
          title: field_ids
          type: array
          items:
            $ref: '#/components/schemas/RemainPrivatePredictionFieldId'
      - name: card_ids
        in: query
        description: Cards to include on the resulting entity
        style: form
        explode: false
        schema:
          title: card_ids
          type: array
          items:
            type: string
            enum:
            - fields
      responses:
        '200':
          $ref: '#/components/responses/EntityLookupRemainPrivatePredictionResponse'
        '400':
          $ref: '#/components/responses/GenericBadRequestError'
        '404':
          $ref: '#/components/responses/GenericNotFoundError'
        '500':
          $ref: '#/components/responses/GenericInternalServerError'
    servers:
    - url: https://api.crunchbase.com/v4
components:
  schemas:
    Organization:
      type: object
      required:
      - identifier
      properties:
        acquirer_identifier:
          type: object
          description: Name of the organization that made the acquisition
          allOf:
          - $ref: '#/components/schemas/EntityIdentifier'
          x-cb-field-type: identifier
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - contains
          - eq
          - includes
          - not_contains
          - not_eq
          - not_includes
          - starts
        aliases:
          type: array
          description: Alternate or previous names for the organization
          items:
            type: string
            maxLength: 255
          x-cb-field-type: text_short_multi
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - contains
          - eq
          - not_contains
          - not_eq
          - starts
        categories:
          type: array
          description: Descriptive keyword for an Organization (e.g. SaaS, Android, Cloud Computing, Medical Device)
          items:
            $ref: '#/components/schemas/EntityIdentifier'
          x-cb-field-type: identifier_multi
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - includes
          - includes_all
          - not_includes
          - not_includes_all
        category_groups:
          type: array
          description: Superset of Industries (e.g. Software, Mobile, Health Care)
          items:
            $ref: '#/components/schemas/EntityIdentifier'
          x-cb-field-type: identifier_multi
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - includes
          - includes_all
          - not_includes
          - not_includes_all
        closed_on:
          type: object
          description: The date when the organization is closed
          allOf:
          - $ref: '#/components/schemas/DateWithPrecision'
          x-cb-field-type: date_precision
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gte
          - lte
        company_type:
          type: string
          description: 'Whether an Organization is for profit or non-profit

            * for_profit - For Profit

            * non_profit - Non-profit'
          enum:
          - for_profit
          - non_profit
          x-enum-descriptions:
          - For Profit
          - Non-profit
          x-cb-field-enum-values:
          - value: for_profit
            description: For Profit
          - value: non_profit
            description: Non-profit
          x-cb-field-type: enum
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - eq
          - includes
          - not_eq
          - not_includes
        contact_email:
          type: string
          description: General contact email for the organization
          maxLength: 8192
          x-cb-field-type: text_blob
          x-cb-searchable: false
          x-cb-search-operators: []
        created_at:
          type: string
          format: date-time
          x-cb-field-type: datetime
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gte
          - lte
        delisted_on:
          type: object
          description: The date when the Organization removed its stock from the stock exchange.
          allOf:
          - $ref: '#/components/schemas/DateWithPrecision'
          x-cb-field-type: date_precision
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gte
          - lte
        demo_days:
          type: boolean
          description: Whether an accelerator hosts any demo days
          x-cb-field-type: boolean
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - eq
        description:
          type: string
          description: Organization Description, Industries, Industry Groups
          maxLength: 8192
          x-cb-field-type: text_long
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - contains
          - not_contains
        diversity_spotlights:
          type: array
          description: Types of diversity represented in an organization, specifically of those who are founding members, currently the CEO, or have check-writing abilities in an investment firm. This feature is in beta and may change with future updates.
          items:
            $ref: '#/components/schemas/EntityIdentifier'
          x-cb-field-type: identifier_multi
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - includes
          - includes_all
          - not_includes
          - not_includes_all
        entity_def_id:
          type: string
          description: '* organization - Organization'
          enum:
          - organization
          x-enum-descriptions:
          - Organization
          x-cb-field-enum-values:
          - value: organization
            description: Organization
          x-cb-field-type: enum
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - eq
          - includes
          - not_eq
          - not_includes
        equity_funding_total:
          type: object
          description: Total funding amount raised across all Funding Rounds excluding debt
          allOf:
          - $ref: '#/components/schemas/Money'
          x-cb-field-type: money
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        exited_on:
          type: object
          description: Date the organization was acquired or went public
          allOf:
          - $ref: '#/components/schemas/DateWithPrecision'
          x-cb-field-type: date_precision
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gte
          - lte
        facebook:
          type: object
          description: Link to Organization's Facebook page
          allOf:
          - $ref: '#/components/schemas/Link'
          x-cb-field-type: link
          x-cb-searchable: false
          x-cb-search-operators: []
        facet_ids:
          type: array
          items:
            type: string
            description: '* company - Company

              * government_entity - Government Entity

              * investor - Investor

              * school - School'
            enum:
            - company
            - government_entity
            - investor
            - school
          x-cb-field-type: enum_multi
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - includes
          - includes_all
          - not_includes
          - not_includes_all
        founded_on:
          type: object
          description: Date the Organization was founded
          allOf:
          - $ref: '#/components/schemas/DateWithPrecision'
          x-cb-field-type: date_precision
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gte
          - lte
        founder_identifiers:
          type: array
          description: Founders of the organization
          items:
            $ref: '#/components/schemas/EntityIdentifier'
          x-cb-field-type: identifier_multi
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - includes
          - includes_all
          - not_includes
          - not_includes_all
        funding_stage:
          type: string
          description: 'This field describes an organization''s most recent funding status (e.g. Early Stage Venture, Late Stage Venture, M&A)

            * early_stage_venture - Early Stage Venture

            * ipo - IPO

            * late_stage_venture - Late Stage Venture

            * m_and_a - M&A

            * private_equity - Private Equity

            * seed - Seed'
          enum:
          - seed
          - early_stage_venture
          - late_stage_venture
          - private_equity
          - m_and_a
          - ipo
          x-enum-descriptions:
          - Seed
          - Early Stage Venture
          - Late Stage Venture
          - Private Equity
          - M&A
          - IPO
          x-cb-field-enum-values:
          - value: seed
            description: Seed
          - value: early_stage_venture
            description: Early Stage Venture
          - value: late_stage_venture
            description: Late Stage Venture
          - value: private_equity
            description: Private Equity
          - value: m_and_a
            description: M&A
          - value: ipo
            description: IPO
          x-cb-field-type: enum
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - eq
          - includes
          - not_eq
          - not_includes
        funding_total:
          type: object
          description: Total amount raised across all funding rounds
          allOf:
          - $ref: '#/components/schemas/Money'
          x-cb-field-type: money
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        funds_total:
          type: object
          description: Total funding amount raised across all Fund Raises
          allOf:
          - $ref: '#/components/schemas/Money'
          x-cb-field-type: money
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        hub_tags:
          type: array
          description: Tags are labels assigned to organizations, which identify their belonging to a group with that shared label
          items:
            type: string
            description: 'Tags are labels assigned to organizations, which identify their belonging to a group with that shared label

              * cbvp - Crunchbase Venture Program

              * emerging_unicorn - Emerging Unicorn

              * exited_unicorn - Exited Unicorn

              * pledge_one_percent - Pledge 1%

              * unicorn - Unicorn'
            enum:
            - cbvp
            - pledge_one_percent
            - unicorn
            - emerging_unicorn
            - exited_unicorn
          x-cb-field-type: enum_multi
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - includes
          - includes_all
          - not_includes
          - not_includes_all
        identifier:
          type: object
          description: Name of the Organization
          allOf:
          - $ref: '#/components/schemas/EntityIdentifier'
          x-cb-field-type: identifier
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - contains
          - eq
          - includes
          - not_contains
          - not_eq
          - not_includes
          - starts
        image_id:
          type: string
          description: The profile image of the organization on Crunchbase
          maxLength: 255
          x-cb-field-type: image_id
          x-cb-searchable: false
          x-cb-search-operators: []
        image_url:
          type: string
          description: The url of the profile image
          maxLength: 8192
          x-cb-field-type: text_blob
          x-cb-searchable: false
          x-cb-search-operators: []
        investor_identifiers:
          type: array
          description: The top 5 investors with investments in this company, ordered by Crunchbase Rank
          items:
            $ref: '#/components/schemas/EntityIdentifier'
          x-cb-field-type: identifier_multi
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - includes
          - includes_all
          - not_includes
          - not_includes_all
        investor_stage:
          type: array
          description: This describes the stage of investments made by this organization (e.g. Angel, Fund of Funds, Venture Capital)
          items:
            type: string
            description: 'This describes the stage of investments made by this organization (e.g. Angel, Fund of Funds, Venture Capital)

              * convertible_note - Convertible Note

              * crowdfunding - Crowdfunding

              * debt - Debt

              * early_stage_venture - Early Stage Venture

              * grant - Grant

              * initial_coin_offering - Initial Coin Offering

              * late_stage_venture - Late Stage Venture

              * non_equity_assistance - Non Equity Assistance

              * post_ipo - Post-Ipo

              * private_equity - Private Equity

              * secondary_market - Secondary Market

              * seed - Seed

              * venture - Venture'
            enum:
            - seed
            - early_stage_venture
            - late_stage_venture
            - venture
            - private_equity
            - crowdfunding
            - debt
            - grant
            - non_equity_assistance
            - convertible_note
            - secondary_market
            - post_ipo
            - initial_coin_offering
          x-cb-field-type: enum_multi
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - includes
          - includes_all
          - not_includes
          - not_includes_all
        investor_type:
          type: array
          description: This describes the type of investor this organization is (e.g. Angel, Fund of Funds, Venture Capital)
          items:
            type: string
            description: 'This describes the type of investor this organization is (e.g. Angel, Fund of Funds, Venture Capital)

              * accelerator - Accelerator

              * angel_group - Angel Group

              * co_working_space - Co-Working Space

              * corporate_venture_capital - Corporate Venture Capital

              * entrepreneurship_program - Entrepreneurship Program

              * family_investment_office - Family Investment Office

              * fund_of_funds - Fund Of Funds

              * government_office - Government Office

              * hedge_fund - Hedge Fund

              * incubator - Incubator

              * investment_bank - Investment Bank

              * micro_vc - Micro VC

              * pension_funds - Pension Funds

              * private_equity_firm - Private Equity Firm

              * secondary_purchaser - Secondary Purchaser

              * startup_competition - Startup Competition

              * syndicate - Syndicate

              * university_program - University Program

              * venture_capital - Venture Capital

              * venture_debt - Venture Debt'
            enum:
            - venture_capital
            - corporate_venture_capital
            - private_equity_firm
            - accelerator
            - micro_vc
            - angel_group
            - incubator
            - investment_bank
            - family_investment_office
            - venture_debt
            - co_working_space
            - fund_of_funds
            - hedge_fund
            - government_office
            - university_program
            - entrepreneurship_program
            - secondary_purchaser
            - startup_competition
            - syndicate
            - pension_funds
          x-cb-field-type: enum_multi
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - includes
          - includes_all
          - not_includes
          - not_includes_all
        ipo_status:
          type: string
          description: 'The current public status of the Organization

            * delisted - Delisted

            * private - Private

            * public - Public'
          enum:
          - public
          - delisted
          - private
          x-enum-descriptions:
          - Public
          - Delisted
          - Private
          x-cb-field-enum-values:
          - value: public
            description: Public
          - value: delisted
            description: Delisted
          - value: private
            description: Private
          x-cb-field-type: enum
          x-cb-searchable: true
          x-cb-search-operators:
          - blank
          - eq
          - includes
          - not_eq
          - not_includes
        last_equity_funding_total:
          type: object
          description: Amount of most recent Funding Round excluding debt
          allOf:
          - $ref: '#/components/schemas/Money'
          x-cb-field-type: money
          x-cb-searchable: true
          x-cb-search-operators:
          - between
          - blank
          - eq
          - gt
          - gte
          - lt
          - lte
          - not_eq
        last_equity_funding_type:
          type: string
          description: 'The most recent Funding Round excluding debt

            * angel - Angel

            * convertible_note - Convertible Note

            * corporate_round - Corporate Round

            * debt_financing - Debt Financing

            * equity_crowdfunding - Equity Crowdfunding

            * grant - Grant

            * initial_coin_offering - Initial Coin Offering

            * non_equity_assistance - Non-equity Assistance

            * post_ipo_debt - Post-IPO Debt

            * post_ipo_equity - Post-IPO Equity

            * post_ipo_secondary - Post-IPO Secondary

            * pre_seed - Pre-Seed

            * private_equity - Private Equity

            * product_crowdfunding - Product Crowdfunding

            * secondary_market - Secondary Market

            * seed - Seed

            * series_a - Series A

            * series_b - Series B

            * series_c - Series C

            * series_d - Series D

            * series_e - Series E

            * series_f - Series F

            * series_g - Series G

            * series_h - Series H

            * series_i - Series I

            * series_j - Series J

[...]
