openapi: 3.0.3
info:
  title: Crunchbase Data API v4 Autocomplete Entity Lookup API
  description: 'The Crunchbase Data API (REST v4) provides programmatic access to Crunchbase''s graph of company, funding, investor, and people data - organizations, people, funding rounds, acquisitions, investments, events, and more. It is a read-only RESTful service with four logical surfaces: Entity Lookup (retrieve a single entity and its related "cards"), Search (query a collection with field filters and keyset pagination), Autocomplete (resolve a query string to entity identifiers), and Deleted Entities / Deltas (detect entities removed from the Crunchbase Graph so downstream databases can be reconciled). Access is subscription-gated: the full API requires a Crunchbase Enterprise or Applications license, while a reduced Basic API is available to Crunchbase Basic plan holders. All requests must be made over HTTPS (non-HTTPS calls return 426) and are authenticated with an API key passed either as the `user_key` query parameter or the `X-cb-user-key` header.

    Endpoint paths, HTTP methods, authentication, and rate limits below are grounded in the public Crunchbase developer documentation (data.crunchbase.com/docs). Because live responses are license-gated, request and response object schemas are honestly modeled from the documentation rather than captured from live calls; see x-endpoints-modeled.'
  version: '4.0'
  contact:
    name: Crunchbase
    url: https://about.crunchbase.com/products/crunchbase-api/
  x-endpoints-modeled: Endpoint paths, methods, auth, and rate limits are confirmed from public docs. Detailed field-level request/response schemas are modeled from the documentation because live API responses require a paid Enterprise or Applications license.
servers:
- url: https://api.crunchbase.com/v4/data
  description: Crunchbase Data API v4 (production)
security:
- userKeyQuery: []
- userKeyHeader: []
tags:
- name: Entity Lookup
  description: Retrieve a single entity (and its related cards) by UUID or permalink.
paths:
  /entities/{collection}/{entity_id}:
    parameters:
    - $ref: '#/components/parameters/Collection'
    - $ref: '#/components/parameters/EntityId'
    get:
      operationId: getEntity
      tags:
      - Entity Lookup
      summary: Look up an entity
      description: Retrieves a single entity from a core collection (organizations, people, funding_rounds, acquisitions, and others) by its UUID or permalink. Use field_ids to select fields and card_ids to include related cards (each card returns at most 100 items).
      parameters:
      - name: field_ids
        in: query
        required: false
        description: Comma-separated list of field ids to return for the entity.
        schema:
          type: string
      - name: card_ids
        in: query
        required: false
        description: Comma-separated list of related card ids to include. Each card returns a maximum of 100 items; use the card endpoint for more.
        schema:
          type: string
      responses:
        '200':
          description: The requested entity with the selected fields and cards.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '426':
          $ref: '#/components/responses/UpgradeRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'
  /entities/{collection}/{entity_id}/cards/{card_id}:
    parameters:
    - $ref: '#/components/parameters/Collection'
    - $ref: '#/components/parameters/EntityId'
    - name: card_id
      in: path
      required: true
      description: The id of the related card to page through (e.g. raised_funding_rounds, investors).
      schema:
        type: string
    get:
      operationId: getEntityCard
      tags:
      - Entity Lookup
      summary: Page an entity card
      description: Retrieves a single related card for an entity with full pagination, used when a card holds more than the 100 items returned inline by the entity lookup endpoint.
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/AfterId'
      - $ref: '#/components/parameters/BeforeId'
      responses:
        '200':
          description: A page of card items for the entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  parameters:
    Limit:
      name: limit
      in: query
      required: false
      description: Number of items to return per page.
      schema:
        type: integer
    EntityId:
      name: entity_id
      in: path
      required: true
      description: The entity UUID or permalink (e.g. tesla-motors).
      schema:
        type: string
    AfterId:
      name: after_id
      in: query
      required: false
      description: Keyset cursor - return items after this entity id.
      schema:
        type: string
    Collection:
      name: collection
      in: path
      required: true
      description: The core entity collection (e.g. organizations, people, funding_rounds, acquisitions).
      schema:
        type: string
        example: organizations
    BeforeId:
      name: before_id
      in: query
      required: false
      description: Keyset cursor - return items before this entity id.
      schema:
        type: string
  responses:
    TooManyRequests:
      description: Rate limit exceeded (200 calls per minute).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing, invalid, or unlicensed API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested entity was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    UpgradeRequired:
      description: HTTPS is required, or the endpoint requires a higher license tier.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    EntityResponse:
      type: object
      properties:
        properties:
          type: object
          description: The selected field_ids and their values for the entity.
          additionalProperties: true
        cards:
          type: object
          description: Related card collections requested via card_ids.
          additionalProperties: true
    CardResponse:
      type: object
      properties:
        entities:
          type: array
          items:
            type: object
            additionalProperties: true
        count:
          type: integer
    Error:
      type: object
      properties:
        error:
          type: string
        code:
          type: integer
        message:
          type: string
  securitySchemes:
    userKeyQuery:
      type: apiKey
      in: query
      name: user_key
      description: API key passed as the user_key query parameter.
    userKeyHeader:
      type: apiKey
      in: header
      name: X-cb-user-key
      description: API key passed as the X-cb-user-key request header.
